<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      <ion-icon name="arrow-back-outline" routerLink="/loginotp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding ion-text-center">

  <div class="app">
    <img src="assets/trucklogo.jpeg">
   </div>


 <div class="content">
<h3 style="margin-top: 100px;">Verification</h3>
<p>
  Enter the One Time Password send to +91{{mobileNo}}
</p>


<!--<ion-grid class="inputs">
  <ion-row>
    <ion-col size="2">
    <input type="text" value={{otp.substring(0,1)}} id="ip1" [(ngModel)]="one" [ngModelOptions]="{standalone: true}">
    </ion-col>
    <ion-col size="2">
      <input type="text" value={{otp.substring(1,2)}} readonly id="ip2">
      </ion-col>
      <ion-col size="2">
        <input type="text" value={{otp.substring(2,3)}} readonly id="ip3">
        </ion-col>
        <ion-col size="2">
          <input type="text" value={{otp.substring(3,4)}} readonly id="ip4">
          </ion-col>
          <ion-col size="2">
            <input type="text" value={{otp.substring(4,5)}} readonly id="ip5">
            </ion-col>
            <ion-col size="2">
              <input type="text" value={{otp.substring(5,6)}} readonly id="ip6">
              </ion-col>
    
  </ion-row>
</ion-grid>-->

<ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
    

<br>
<ion-note>
  Didn't receive OTP?
  <ion-text color="dark" style="font-weight: 600;">Resend OTP</ion-text>
</ion-note>

</div>

 
  

<!--<div class="keypad">
<ion-grid class="buttons"  >
<ion-row>
  <ion-col size="4">
    <button (click)="set('0')">0</button>
  </ion-col>
  <ion-col size="4">
    <button (click)="set('1')">1</button>
  </ion-col>
  <ion-col size="4">
    <button (click)="set('2')">2</button>
  </ion-col>
  <ion-col size="4">
    <button (click)="set('3')">3</button>
  </ion-col>
  <ion-col size="4">
    <button (click)="set('4')">4</button>
  </ion-col>
  <ion-col size="4">
    <button (click)="set('5')">5</button>
  </ion-col> 
  <ion-col size="4">
    <button (click)="set('6')">6</button>
  </ion-col> 
  <ion-col size="4">
    <button (click)="set('7')">7</button>
  </ion-col> 
  <ion-col size="4">
    <button (click)="set('8')">8</button>
  </ion-col>
  <ion-col size="4">
    <button style="background-color: rgb(46, 46, 46);"  (click)="clear()">clear</button>
  </ion-col>  
  <ion-col size="4">
    <button (click)="set('9')">9</button>
  </ion-col> 
  <ion-col size="4">
    <button style="background-color: rgb(46, 46, 46);" (click)="back()">Back</button>
  </ion-col> 
</ion-row>
</ion-grid>
</div>-->
</ion-content>
<ion-button style="height:50px;"  (click)="handleClick()" >Verify OTP</ion-button>