.sendData{
    --background: #f58e26;
    
}
ion-card{
    --background: #fbe7d3;
    color: black;
    box-shadow: 10px 10px lightblue;
}
.price{
    background-color: #26f5be;
    border-radius: 10px;
    width: 117px;
}