<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title>EditTruk</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<br>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="updateproductForm" (ngSubmit)="updateForm(userPost.value)" #userPost="ngForm">

    <div class="container">
      <h2 style="text-align: center; color: #f58e26;">Edit Truk</h2>

      <div class="form-group">
        <ion-label position="floating">Enter Vechile number</ion-label>
        <input placeholder="K.A 10 5555" [(ngModel)]="real.trukvehiclenumber" formControlName="trukvehiclenumber" class="form-control">
      </div>
      <br>
      <div class="form-group">
      <ion-label position="floating">Current Location</ion-label>
      <input placeholder="Current vechile Location" [(ngModel)]="real.trukcurrentLocation"
        formControlName="trukcurrentLocation" class="form-control">
      <!-- <ion-icon name="location-outline" slot="end"></ion-icon> -->
    </div>
      <br>
      <div>
        <ng-multiselect-dropdown [placeholder]="'Add Your Vechile Routes (States)'" [settings]="dropdownSettings"
          [data]="dropdownList" [(ngModel)]="real.trukoperatingRoutes" (onSelect)="onItemSelect($event)"
          formControlName="trukoperatingRoutes" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
      <br>
      <div class="form-group">
        <div class="form-control">
          <ion-input type="datetime-local" style="border: none; " [(ngModel)]="real.trukdate"
            formControlName="trukdate"></ion-input>
        </div>
      </div>
    </div>
    <br>

    <div class='container'>
      <h2 style="text-align: center; color: #f58e26;">choose one TrukVehicle</h2>

      <div class="row" style="margin-top: -2rem;">
        <div>
          <div class="column">
            <input type="radio" name="payment" id="card" (change)="out('Tanker')" [checked]="real.trukname == 'Tanker' || trukname == 'Tanker'">
            <label for="card" >
              <ion-card-header>
                <img src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg" style="height: 94px;
          width: 131px;
          margin-top: -50px;;">
                <ion-card-subtitle>Tanker</ion-card-subtitle>
                <ion-card-subtitle>1 to 35 KL</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>

          <div class="column">
            <input type="radio" name="payment" id="car" (change)="out('Hyva')"  [checked]="real.trukname == 'Hyva' || trukname == 'Hyva'">
            <label for="car" >
              <ion-card-header>
                <img
                  src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg"
                  style="height: 94px;
          width: 131px;
          margin-top: -50px;;">
                <ion-card-subtitle> Hyva</ion-card-subtitle>
                <ion-card-subtitle>1 to 35 Tonnes</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>

          <div class="column">
            <input type="radio" name="payment" id="ca" (change)="out('LCV')"  [checked]="real.trukname == 'LCV' || trukname == 'LCV'">
            <label for="ca" >
              <ion-card-header>
                <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png"
                  style="height: 94px;
          width: 131px;
          margin-top: -50px;;">
                <ion-card-subtitle>LCV</ion-card-subtitle>
                <ion-card-subtitle>1 to 6 Tonnes</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>

          <div class="column">
            <input type="radio" name="payment" id="cad" (change)="out('Open Truck')"  [checked]="real.trukname == 'Open Truck' || trukname == 'Open Truck'">
            <label for="cad" >
              <ion-card-header>
                <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png" style="height: 94px;
        width: 131px;
        margin-top: -50px;;">
                <ion-card-subtitle>Open Truck</ion-card-subtitle>
                <ion-card-subtitle>1 to 14 tonnes</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>

          <div class="column">
            <input type="radio" name="payment" id="Trailer" (change)="out('Trailer')"  [checked]="real.trukname == 'Trailer' || trukname == 'Trailer'">
            <label for="Trailer" >
              <ion-card-header>
                <img
                  src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png"
                  style="height: 94px;
        width: 131px;
        margin-top: -50px;;">
                <ion-card-subtitle>Trailer</ion-card-subtitle>
                <ion-card-subtitle>1 to 100 Tonnes</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>

          <div class="column">
            <input type="radio" name="payment" id="container" (change)="out('Container')"  [checked]="real.trukname == 'Container' || trukname == 'Container'">
            <label for="container" >
              <ion-card-header>
                <img
                  src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png"
                  style="height: 94px;
        width: 131px;
        margin-top: -50px;;">
                <ion-card-subtitle>Container</ion-card-subtitle>
                <ion-card-subtitle>1 to 18 Tonnes</ion-card-subtitle>
              </ion-card-header>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <ion-label for="text">Enter the LCV Capacity</ion-label>
        <input type="text" class="form-control" id="email" [(ngModel)]="real.trukcapacity"
          formControlName="trukcapacity">
      </div>
    </div>


  </form>


</ion-content>

<ion-button expand="full" shape="round" (click)="updateForm(userPost.value)" routerLink="/tab/tab2" class="Update">Update</ion-button>