<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title style="text-align:center;">About Us</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" style="margin-top: 10%;">
    <img src="assets/trucklogo.jpeg">
  </div>
  <div class="container" style="text-align: center;">
    <h5>Truk App is India’s first online <br>
      transport market to get in touch <br>
      with Indian’s top performing <br>
       transporters & truk owners <br>
      with us.<br><br> We help logistic companies to <br>
      connect with truk owners,Agents, <br>
      and other transporters from <br>
      all India</h5>
  </div>
</ion-content>
