<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab5" router-direction="forward"
        style="font-size: 30px;"></ion-icon>
      <ion-title>Existing Loads</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card *ngFor="let card of item">

    <input type="radio" name="payment" id="card" (change)="out('Tanker')">
    <label for="card" class="label">
      <ion-card-header>
        <ion-card-title>{{card.OriginLocation}}--{{card.DestinationLocation}}</ion-card-title>
        <ion-card-subtitle>Posted on {{card.date}}|Exprire in 24hrs</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{card.product}}
        <br>
        <h1>{{card.data}} --{{card.Quantity}}</h1>
      </ion-card-content>
      <ion-content>
        ₹{{card.expectedPrice}}
      </ion-content>

    </label>
  </ion-card>


</ion-content> -->

 <ion-content>
  <h1 style="text-align: center;">Choosing the Loads</h1>
  <ion-list>
    <ion-radio-group >
      <ion-item *ngFor="let card of item">
        <ion-radio slot="end" (click)="sendData(card)" (change)="out('English')" class="radio"></ion-radio> 
          <ion-card>
            <div style="float: left; margin-left: 1rem;">
              <br>
              <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg" width="10%" height="10%">
              <span style="margin-left: 2rem;">{{card.OriginLocation}} - {{card.DestinationLocation}}</span>
              <h3 style="margin-left: 3rem;">Pickup {{card.date}}</h3>
            </div>
            ..............................................................................................
            <ion-card-content>
              {{card.product}} <br>
              <ion-icon name="car-outline" style="font-size: 20px;"></ion-icon>{{card.Quantity}}Tonne(s) {{card.data}} <br>
              <ion-icon name="card-outline" style="font-size: 15px;"></ion-icon> <span>  {{card.typeOfPay}}</span>
              <span style="float: right; margin-top: -4rem;">
                <ion-card-content class="expected">
                  <p class="price">Expected Price</p>
                  ₹ {{card.expectedPrice}} /Ton 
                </ion-card-content>
              </span>
              </ion-card-content>
          </ion-card>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-button slot="end" (click)="proceed()" class="button" shape="round">proceed</ion-button>  
 <!-- <ion-button slot="end" routerLink="/existing-load">proceed</ion-button>  -->

