<ion-header>
  <ion-toolbar>
   
    <div style="display: flex; ">
      <ion-icon name="arrow-back-sharp" routerLink="/loginotp" style="font-size: 30px;"></ion-icon>
      <ion-title align="center">Sign Up</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content  refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
  <div class="circle-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>
  <!--<ion-card-title style="text-align: center;">We just want few informtion to get yourself Registered  </ion-card-title>-->
<div style="margin-bottom:-5px; margin-top:20px;">
  <span style="margin-left: 20px; font-size:25px;">Sign Up As:</span>
</div>
 <!--<ion-card>
    <div class="imgdiv">
      <img src="https://images.all-free-download.com/images/graphiclarge/shipper_conception_painting_delivery_man_icon_cartoon_character_6840190.jpg" style="width: 65px; height:65px; border-radius:50%;">
    </div>
  
    <div class="shipperdiv">
      SHIPPER
    </div>
  </ion-card>

  <ion-card>
    <div class="imgdiv">
      <img src="https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/owner_banner-54b9b6782f153807bff15a9a99b323d4580b76636f981cfc171a4e801ca00041.png" style="width: 65px; height:65px; border-radius:50%;">
    </div>
  
    <div class="shipperdiv">
    FLEET OWNER
    </div>
  </ion-card>

  <ion-card>
  <div class="imgdiv">
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/delivery-man-waving-driving-van-cartoon-aloysius-patrimonio.jpg" style="width: 65px; height:65px; border-radius:50%;">
  </div>

  <div class="shipperdiv">
    TRANSPORTER
  </div>
  </ion-card>

  <ion-card>
    <div class="imgdiv">
      <img src="https://www.insurercore.com/insurercore2018/assets/images/broker-header-2.png" style="width: 65px; height:65px; border-radius:50%;">
    </div>
  
    <div class="shipperdiv">
      AGENT/BROKER
    </div>
  </ion-card>-->



  

    
    <input type="radio" name="payment" id="card" (change)="out('Shipper')">
    <label for="card">
      
        <div class="imgdiv">
          <img src="https://images.all-free-download.com/images/graphiclarge/shipper_conception_painting_delivery_man_icon_cartoon_character_6840190.jpg" style="width: 65px; height:65px; border-radius:50%;">
        </div>
      
        <div class="shipperdiv">
          SHIPPER
        </div>
      
    </label>
    
    
    
    <input type="radio" name="payment" id="cash" (change)="out('Fleet Owner')">
    <label for="cash">
      <div class="imgdiv">
        <img src="https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/owner_banner-54b9b6782f153807bff15a9a99b323d4580b76636f981cfc171a4e801ca00041.png" style="width: 65px; height:65px; border-radius:50%;">
      </div>
    
      <div class="shipperdiv">
      FLEET OWNER
      </div>
    </label>
    
    

    
        
          <input type="radio" name="payment" id="csh" (change)="out('Transporter')">
          <label for="csh">
            <div class="imgdiv">
              <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/delivery-man-waving-driving-van-cartoon-aloysius-patrimonio.jpg" style="width: 65px; height:65px; border-radius:50%;">
            </div>
          
            <div class="shipperdiv">
              TRANSPORTER
            </div>
          </label>
          
    
          <div>
            <input type="radio" name="payment" id="ash" (change)="out('Agent/Broker')">
            <label for="ash">
              <div class="imgdiv">
                <img src="https://www.insurercore.com/insurercore2018/assets/images/broker-header-2.png" style="width: 65px; height:65px; border-radius:50%;">
              </div>
            
              <div class="shipperdiv">
                AGENT/BROKER
              </div>
            </label>
            </div>
    
            <p *ngIf="type === 'Shipper'" style="font-size: 13px; text-align:center;padding:9px;">A shipper is the person or company who owns or oversees 
              goods or products for transport from one location to another.</p>
              <p *ngIf="type === 'Fleet Owner'" style="font-size: 13px; text-align:center;padding:9px;">Fleet managers are responsible for vehicle maintenance. They make sure their vehicles are in excellent shape for performing their various functions.</p>
              <p *ngIf="type === 'Transporter'" style="font-size: 13px; text-align:center;padding:9px;">A transporter is responsible for sending patients to assigned healthcare facilities, ensuring their safety while on the road.</p>
              <p *ngIf="type === 'Agent/Broker'" style="font-size: 13px; text-align:center;padding:9px;"> Agent is appointed to facilitate or negotiate a transaction on behalf of the principal, the agent owes a duty to the principal to act in the principal's best interests within the authority of the agent.</p>

</ion-content>

<ion-button color="#a13cd7;"  [disabled]="type == null" (click)="selectType()" >Continue</ion-button>

