/*ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-card{
    display: flex;
    margin: 20px;
  }*/
  .imgdiv{
    padding: 6px;
  }
  .shipperdiv{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 18px;
    color: black;

  }
  ion-content{
  ion-card-title{
  display: flex;
  justify-content: center;
  padding-left: 14px;
  padding-top: 20px;
  }
}

ion-button{
    background: #f58e26;
    height:50px ;
   border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    
  }


  //////////////////
  input[type=radio]{
    -webkit-appearance: none;
}

label{
  border: 3px solid #d2d0ce;
  display: flex;
  margin-left: 8px;
  margin-right: 8px ;
  border-radius: 10px;
  position: relative;
  color: #f58e26;
  box-shadow: 0 5px 5px rgba(172, 179, 175, 0.984);
}

label>span {
  font-size: 25px;

  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}

input[type=radio]:checked + label {
	background-color: #f58e26;
	color: #ffffff;
	//box-shadow: 0 15px 45px rgb(24,249,141,0.2);
}


.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.circle {

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-1 {

  position: absolute;
  left: -23.42%;
  right: 75.35%;
  top: -2.04%;
  bottom: 80.47%;
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
}

.circle-2 {
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
  position: absolute;
  left: -2%;
  right: 50.93%;
  top: -11.48%;
  bottom: 86.91%;
}
.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.circle {

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-1 {

  position: absolute;
  left: -23.42%;
  right: 75.35%;
  top: -2.04%;
  bottom: 80.47%;
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
}

.circle-2 {
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
  position: absolute;
  left: -2%;
  right: 50.93%;
  top: -11.48%;
  bottom: 86.91%;
}
