<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab4" router-direction="forward"
        style="font-size: 30px;"></ion-icon>
      <ion-title>Existing Loads</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card *ngFor="let card of item">

    <input type="radio" name="payment" id="card" (change)="out('Tanker')">
    <label for="card" class="label">
      <ion-card-header>
        <ion-card-title>{{card.OriginLocation}}--{{card.DestinationLocation}}</ion-card-title>
        <ion-card-subtitle>Posted on {{card.date}}|Exprire in 24hrs</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{card.product}}
        <br>
        <h1>{{card.data}} --{{card.Quantity}}</h1>
      </ion-card-content>
      <ion-content>
        ₹{{card.expectedPrice}}
      </ion-content>

    </label>
  </ion-card>


</ion-content> -->

 <ion-content>
  <h1 style="text-align: center;">Choosing the Loads</h1>
  <!--<ion-list>
    <ion-radio-group >
      <ion-item *ngFor="let card of item">
        <ion-radio slot="end" (click)="sendData(card)" (change)="out('English')" class="radio"></ion-radio> 
          <ion-card>
            <div style="float: left; margin-left: 1rem;">
              <br>
              <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg" width="10%" height="10%">
              <span style="margin-left: 2rem;">{{card.OriginLocation}} - {{card.DestinationLocation}}</span>
              <h3 style="margin-left: 3rem;">Pickup {{card.date}}</h3>
            </div>
            .............................................................................
            <ion-card-content>
              {{card.product}} <br>
              <ion-icon name="car-outline" style="font-size: 20px;"></ion-icon>{{card.Quantity}}Tonne(s) {{card.data}} <br>
              <ion-icon name="card-outline" style="font-size: 15px;"></ion-icon> <span>  {{card.typeOfPay}}</span>
              <span style="float: right; margin-top: -4rem;">
                <ion-card-content class="expected">
                  <p class="price">Expected Price</p>
                  ₹ {{card.expectedPrice}} /Ton 
                </ion-card-content>
              </span>
              </ion-card-content>
          </ion-card>
      </ion-item>
    </ion-radio-group>
  </ion-list>-->


    
  <div class="card" *ngFor="let card of item" >
    <div class="card-body" >
      <div type="button" class="securepayment"  *ngIf="card.typeOfPay == 'Online'"><br>
        &nbsp;&nbsp; <i class="fa fa-shield" style="font-size: 25px; color:green;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <div>
        <span style="color: green;">Online Payment</span><br>
        <span style="color: green;">Truk App Assured</span>
        </div>
      </div>
      
      <div type="button" class="handpayment" *ngIf="card.typeOfPay == 'Offline'" ><br>
        &nbsp;&nbsp; <i class="fa fa-shield" style="font-size: 25px; color:rgb(241, 64, 15);;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <div>
        <span style="color: rgb(241, 64, 15);">Hand Cash </span><br>
        <span style="color: rgb(241, 64, 15);;">Truk App Assured</span>
        </div>
      </div>
      <br>
        <!--<div class="dropdown float-end" style="float:right;">
            <a class="text-muted dropdown-toggle font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-horizontal-rounded"></i></a>
            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" >Edit</a><a class="dropdown-item" >Action</a><a class="dropdown-item" >Remove</a></div>
        </div>-->
    

        <div class="d-flex align-items-center">
            <div><img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" />
              

            </div>&nbsp;&nbsp;
            <div class="flex-1 ms-3" style="margin-top: -25px;">
                <h5 class="font-size-16 mb-1" style="color:black; font-weight:bolder;"><a style="font-size: small; color:black; font-weight:bold;" class="text-dark">{{card.OriginLocation}}--{{card.DestinationLocation}}</a></h5>
                <span class="badge badge-soft-success mb-0"> Posted On {{card.date}}</span>
            </div>
        </div>
        <div class="mt-3 pt-1">
            <p  class="text-muted mb-0 mt-2"  ><i class="fa fa-cubes font-size-15 align-middle pe-2 " ></i> {{card.product}}</p>
            <p  class="text-muted mb-0 mt-2">&nbsp;<i class="fa fa-truck font-size-15 align-middle pe-2 "></i>{{card.Quantity}}tons--{{card.data}}</p>
            <p class="text-muted mb-0 mt-2">&nbsp;<i class="fa fa-money font-size-15 align-middle pe-2 "></i>  Expected Price ₹ <span style="color:black; font-weight:bolder;">{{card.expectedPrice}}/Ton </span></p>
        </div>
        <div style="display:inline-flex;"  >
        
            <button type="button" class="viewbidbtn"  (click)="sendData(card)">
              <span>Select Load</span>
              
              </button>
             
        </div>
    </div>
</div>
</ion-content>

<ion-button slot="end" (click)="proceed()" class="button" [disabled]="language == null" shape="round">proceed</ion-button>  
 <!-- <ion-button slot="end" routerLink="/existing-load">proceed</ion-button>  -->
