.attach{
  --background:#f58e26;
}
.search{
  --background:#f58e26;
}
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

ion-select::part(icon) {
  display: none !important;
  width: 50%;
 }

 ion-segment-button {
  --background: #54dc98;
  color: white;

}

ion-segment {
  --background:#f58e26;
  border-radius: 10px;
  
}

.noitem{
  text-align: center;
  color: #b2b2b2;
  img{
      width: 100px;
      margin-top: 50px;
  }
}