<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list style="margin-left: 10px; margin-right:10px;">
    <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
      <ion-label position="floating" align="center">Select Pick up Location</ion-label>


      <ion-select interface="popover" [(ngModel)]="trukpickupLocation">
        <ion-select-option>Amaravati</ion-select-option>
        <ion-select-option>Itanagar</ion-select-option>
        <ion-select-option>Dispur</ion-select-option>
        <ion-select-option>Patna</ion-select-option>
        <ion-select-option>Raipur</ion-select-option>
        <ion-select-option>Panaji</ion-select-option>
        <ion-select-option>Gandhinagar</ion-select-option>
        <ion-select-option>Chandigarh</ion-select-option>
        <ion-select-option>Shimla</ion-select-option>
        <ion-select-option>Ranchi</ion-select-option>
        <ion-select-option>Bangaluru</ion-select-option>
        <ion-select-option>Thiruvananthapuram</ion-select-option>
        <ion-select-option>Bhopal</ion-select-option>
        <ion-select-option>Mumbai</ion-select-option>
        <ion-select-option>Imphal</ion-select-option>
        <ion-select-option>Shillong</ion-select-option>
        <ion-select-option>Aizawl</ion-select-option>
        <ion-select-option>Kohima</ion-select-option>
        <ion-select-option>Bhubaneswar</ion-select-option>
        <ion-select-option>Chandigarh</ion-select-option>
        <ion-select-option>Jaipur</ion-select-option>
        <ion-select-option>Gangtok</ion-select-option>
        <ion-select-option>Chennai</ion-select-option>
        <ion-select-option>Hyderabad</ion-select-option>
        <ion-select-option>Agartala</ion-select-option>
        <ion-select-option>Lucknow</ion-select-option>
        <ion-select-option>Kolkata</ion-select-option>
        <ion-select-option>delhi</ion-select-option>
        <ion-select-option>delhi</ion-select-option>
        <ion-select-option>Navsari</ion-select-option>
        <ion-select-option>Pune</ion-select-option>
      </ion-select>


    </ion-item>
    <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
      <ion-label position="floating">Select Drop Loaction</ion-label>


      <ion-select interface="popover" [(ngModel)]="trukdropLocation">
        <ion-select-option>Amaravati</ion-select-option>
        <ion-select-option>Itanagar</ion-select-option>
        <ion-select-option>Dispur</ion-select-option>
        <ion-select-option>Patna</ion-select-option>
        <ion-select-option>Raipur</ion-select-option>
        <ion-select-option>Panaji</ion-select-option>
        <ion-select-option>Gandhinagar</ion-select-option>
        <ion-select-option>Chandigarh</ion-select-option>
        <ion-select-option>Shimla</ion-select-option>
        <ion-select-option>Ranchi</ion-select-option>
        <ion-select-option>Bangaluru</ion-select-option>
        <ion-select-option>Thiruvananthapuram</ion-select-option>
        <ion-select-option>Bhopal</ion-select-option>
        <ion-select-option>Mumbai</ion-select-option>
        <ion-select-option>Imphal</ion-select-option>
        <ion-select-option>Shillong</ion-select-option>
        <ion-select-option>Aizawl</ion-select-option>
        <ion-select-option>Kohima</ion-select-option>
        <ion-select-option>Bhubaneswar</ion-select-option>
        <ion-select-option>Chandigarh</ion-select-option>
        <ion-select-option>Jaipur</ion-select-option>
        <ion-select-option>Gangtok</ion-select-option>
        <ion-select-option>Chennai</ion-select-option>
        <ion-select-option>Hyderabad</ion-select-option>
        <ion-select-option>Agartala</ion-select-option>
        <ion-select-option>Lucknow</ion-select-option>
        <ion-select-option>Kolkata</ion-select-option>
        <ion-select-option>delhi</ion-select-option>
        <ion-select-option>Navsari</ion-select-option>
        <ion-select-option>Pune</ion-select-option>
      </ion-select>


    </ion-item>
    <!--class="ion-no-margin"<ion-button fill="solid" shape="round" class="search"  
        (click)="vehicleSearch()" >Search</ion-button>-->
  </ion-list>


  <h3>Select Vechile Type For Your load</h3>


  <div>
    <ion-row>
      <ion-segment [scrollable]="true" value="heart">
        <ion-col>
          <ion-segment-button value="heart" (click)="vehicleSearch()">
            <ion-icon name="filter" style="font-size: 20px;"></ion-icon>
            <p>Allvehicles</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('LCV')">
            <ion-label>LCV</ion-label>
            <p>1-8 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Truk')">
            <ion-label>Truk</ion-label>
            <p>1-42Tonne</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Hyva')">
            <ion-label>Hyva</ion-label>
            <p>1-35 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Container')">
            <ion-label>container</ion-label>
            <p>1-18 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Trailer')">
            <ion-label>Trailer</ion-label>
            <p>1-100 Tonne</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Tanker')">
            <ion-label>Tanker</ion-label>
            <p>1-35 Tonne</p>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </div>

  <!--</ion-content>
 filter by vehicles form page -->
  <div *ngIf="itemlen !=0">
    <!--<ion-card  *ngFor="let text of item">
    <div style="float: left; margin-left: 1rem;">
      <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" width="25%"
        height="25%">
        <h4  ngDefaultControl>{{text.trukvehiclenumber}}</h4>
      <h4> {{text.trukcapacity}}Tons {{text.trukname}}</h4>
    </div>

    <div style="float: right; margin-top: -5rem;">
      <p>Current Location<b>{{text.trukcurrentLocation}}</b></p>
      <p>Routes <span style="color: blue; font-weight: bold;">{{text.trukoperatingRoutes.length}}</span><u>Location</u> <ion-icon name="location-outline"
          color="danger"></ion-icon></p>
      <h3>Placeholder For Badges</h3>
    </div>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Transpoter</ion-label>
    </ion-chip>

    <div style="text-align: center">
      ...............................................................................................</div>
    <ion-button style="float: right; margin-bottom: 12px;" shape="round" class="attach" id="open-modal"
      routerLink="/attach-prefferd-newload" (click)="AttachNewLoad(text)">AttachNewLoad</ion-button>
    <ion-button style="float: left;" shape="round" class="attach" id="open-modal" routerLink="/attach-load"
      (click)="SendData(text)">ExistingLoad</ion-button>

  </ion-card>-->
    <div class="card  text-center" *ngFor="let text of item">


      <!--Card body-->
      <div class="card-body p-0">
        <!--avatar-->
        <div style="display: flex;">
          <a class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
            <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png"
              class="avatar-img img-fluid rounded-circle" alt="">
          </a>
          <div style="margin-right: 30px;">
            <h5 class="mb-0 ">
              <a class="text-reset"><strong>{{text.trukcapacity}}Tons--{{text.trukname}}</strong></a>
            </h5>


            <span class="text-muted small d-block mb-2">
              <ion-chip>
                <ion-avatar>
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Transpoter</ion-label>
              </ion-chip>
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
            <span class="text-muted small">Current Location</span>
            <strong>{{text.trukcurrentLocation}}</strong>
          </li>
          <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
            <span class="text-muted small">Vehicle Number</span>
            <strong>{{text.trukvehiclenumber}}</strong>
          </li>
          <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
            <span class="text-muted small">Routes</span>
            <strong id="open-custom-dialog" style="color: blue;"
              data-toggle="dropdown">{{text.trukoperatingRoutes.length}} locations


              <ul class="dropdown-menu" role="menu" style="height: max-height;overflow-y:scroll;">
                <li *ngFor="let route of text.trukoperatingRoutes index as i">&nbsp;
                  &nbsp;&nbsp;&nbsp;<a>{{i+1}}.{{route}}</a></li>



              </ul>

              <!--<ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
  <ng-template>
    <div class="wrapper">
      <ion-icon style="float: right; font-size:13px; color:black;" name="close-outline" (click)="modal.dismiss()"></ion-icon><br>
      <h1 style="white-space: nowrap;">Operating Routes</h1>

      <ion-list lines="none"  *ngFor="let route of text.selectedItems index as i">
        <ion-item button="true" detail="false" style="margin-left: 60px;">
          <ion-label >{{i+1}}.{{route.item_text}}</ion-label>
        </ion-item>
       
      </ion-list>
    </div>
  </ng-template>
</ion-modal>-->
            </strong>

          </li>



        </ul>
        <ion-button style="float: right;" shape="round" class="attach" (click)="AttachNewLoad(text)">Attach
          Load</ion-button>
        <ion-button style="float: left;" shape="round" class="attach" (click)="SendData(text)">Existing
          Load</ion-button>
      </div>
    </div>
  </div>


  <div *ngIf="itemlen === 0" class="noitem">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
    <h1>No truk vehicle!</h1>
  </div>



</ion-content>
<!-- all vehicles form page -->
<!-- <div *ngIf="item.length ==0">
  <ion-card *ngFor="let text of items">
    <div style="float: left; margin-left: 1rem;">
      <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" width="25%"
        height="25%">
        <h4  ngDefaultControl>{{text.trukvehiclenumber}}</h4>
      <h4> {{text.trukcapacity}}Tons {{text.trukname}}</h4>
    </div>

    <div style="float: right; margin-top: -5rem;">
      <p>Current Location<b>{{text.trukcurrentLocation}}</b></p>
      <p>Routes <span style="color: blue; font-weight: bold;">{{text.trukoperatingRoutes.length}}</span><u>Location</u> <ion-icon name="location-outline"
          color="danger"></ion-icon></p>
      <h3>Placeholder For Badges</h3>
    </div>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Transpoter</ion-label>
    </ion-chip>

    <div style="text-align: center">
      ...............................................................................................</div>
    <ion-button style="float: right; margin-bottom: 12px;" shape="round" class="attach" id="open-modal"
      routerLink="/attach-new-load" (click)="AttachNewLoad(text)">AttachNewLoad</ion-button>
    <ion-button style="float: left;" shape="round" class="attach" id="open-modal" routerLink="/attach-load"
      (click)="SendData(text)">ExistingLoad</ion-button>

  </ion-card>

</div>  -->




<!--  -->
<!-- <ion-content *ngIf="OpenTruck.length ==0">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
    <h1>No openTruk vehicle!</h1>
  </div>
</ion-content>  -->


















<!-- <div class="container" style="overflow-x: scroll;">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">LCV <br>0-6 Tonnes</mat-button-toggle>
      <mat-button-toggle value="italic">Truks <br> 1 to 35KL</mat-button-toggle>
      <mat-button-toggle value="underline">Hyva <br> 1 to 35 tonnes</mat-button-toggle>
      <mat-button-toggle value="underline">container <br> 1 to 18 Tonnes</mat-button-toggle>
      <mat-button-toggle value="underline">Trailer <br> 1 to 100 tonnes</mat-button-toggle>

    </mat-button-toggle-group>

  </div> -->

<!-- <div class="container">

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-segment scrollable>
            <ion-segment-button value="LCV">
              <ion-label>LCV</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Truks">
              <ion-label>Truks</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Hyva">
              <ion-label>Hyva</ion-label>
            </ion-segment-button>
            <ion-segment-button value="container">
              <ion-label>container</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Trailer">
              <ion-label>Trailer</ion-label>
            </ion-segment-button>

          </ion-segment>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div> -->

<!--  <ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top">
        <ion-label>
          <ion-item fill="outline">
            <ion-label position="floating">Your Bidding price</ion-label>
            <ion-input placeholder="Enter new Price"></ion-input>
          </ion-item>
        </ion-label>
      </div>
    </ion-content>
  </ng-template>
</ion-modal> -->