<ion-header>
  <ion-toolbar>
    <ion-title>
      You don't have Access
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error-container">
    <img src="https://th.bing.com/th/id/OIP.GRNYUcGHniRqD5mchzewvwHaH6?pid=ImgDet&rs=1" alt="Error Icon">
    <h1>404</h1>
    <h3>Oops! </h3>
    <p>The page you are looking for might not access for you, had its name changed or is temporarily unavailable.</p>
    <ion-button routerLink="/loginotp">Go Login Page</ion-button>
  </div>
</ion-content>
