 <ion-header>
  <ion-toolbar >
    <div style="display: flex; ">
      <ion-icon name="arrow-back-sharp" (click)="routeto()" style="font-size: 30px;"></ion-icon>
      <ion-title align="center"> Edit Your Details</ion-title>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="ion-margin">
   
 
    <form [formGroup]="updatedFormed" (ngSubmit)="saveDetails(userpost.value)" #userpost="ngForm">
      <ion-label>Edit Your Person Details</ion-label>
      <ion-item class="ion-margin">
        <ion-input placeholder="Enter First Name" type="text"  clearInput="true" formControlName="firstName" ></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-input placeholder="Enter Last Name" type="text"   clearInput="true" formControlName="lastName" ></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-input placeholder="Enter role" type="text"   clearInput="true" formControlName="role"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-input placeholder="Enter mobileNo" type="text"  clearInput="true" formControlName="mobileNo"></ion-input>
      </ion-item>
    
      <ion-item class="ion-margin">
        <ion-input placeholder="Enter companyName" type="text"   clearInput="true" formControlName="companyName"></ion-input>
      </ion-item>
      

    <ion-label>Edit Your Address Deatails</ion-label>
      <ion-radio-group value="strawberries"   style="display: flex; margin-left:27px;"   formControlName="addressType">
        <ion-item style="margin-right: 5px;">
          <ion-label>Home</ion-label>
          <ion-radio slot="end" value="home" ></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Office</ion-label>
          <ion-radio slot="end" value="office" ></ion-radio>
        </ion-item>
    
    
      </ion-radio-group>

    <ion-item class="ion-margin">
      <ion-input placeholder="Enter DoorNo/Building No" type="text"   clearInput="true" formControlName="doorNo"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Street/Area" type="text"    clearInput="true" formControlName="areaName"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter LandMark" type="text"  clearInput="true" formControlName="landMark"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter City" type="text"    clearInput="true" formControlName="city"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Pincode" type="text"   clearInput="true" formControlName="pincode"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Pincode" type="text"   clearInput="true" formControlName="routes"></ion-input>
    </ion-item>
    
  
      <ion-button shape="round" expand="full" strong="true" (click)="saveDetails(userpost.value)" >
        Save
    
      </ion-button>
    
    </form>
  </ion-list>
</ion-content>

  