.form-control{
    border-radius: 15px;
    box-shadow: 2px 2px 2px lightgray;
}
.next{
    --background: #F58E26;
}

ion-checkbox {
    --size: 32px;
    --background-checked: #F58E26;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #F58E26;
  }

  .length{
    outline-color: #F58E26;
  }

  .payment{
    border: 2px solid #F58E26;
    border-radius: 10px;

  }

  .load{
    border: 2px solid #F58E26;
    border-radius: 10px;
  }

  .truck{
    border: 2px solid #F58E26;
    border-radius: 10px;
  }

#card{
  
    visibility: hidden;

}

#car{
  
  visibility: hidden;

}

#ca{
  
  visibility: hidden;

}

#cad{
  
  visibility: hidden;

}

#Trailer{
  
  visibility: hidden;

}
#container{
  
  visibility: hidden;

}



  input[type=radio]{
    --webkit-appearance: none;
    
}

label{
  height: 160px;
  width: 160px;
  border: 3px solid rgb(122, 119, 119);
  margin: 20px;
  border-radius: 10px;
  position: relative;
  color: #f58e26;
  transition: 0.5s;

  ion-card-header{
    margin-top: 35px;
  }
}

.fa {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%); 
}

label>span {
  font-size: 25px;
  
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}

input[type=radio]:checked + label {
	background-color: #f58e26;
	color: #ffffff;
	box-shadow: 0 15px 45px rgb(24,249,141,0.2);
}

.column {
    float: left;
    width: 47.33%;
    padding-right: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }