<!--Hearder-->

<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab1" style="font-size: 30px;"></ion-icon>
      <ion-title>Attach New Load</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--SLIDE 1-->

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>

      <div class="container">
        <div class="title">
         <h1>Load Details</h1> 
        </div>
        
        <!--select origin Location-->


        <div class="form-group">
          <ion-input type="text" class="form-control" placeholder="  Enter Pick Up Location"
            [(ngModel)]="OriginLocation" (ionInput)="GetOriginLocation(OriginLocation)"
            (ionClear)="ClearAutocomplete()"></ion-input>
        </div>
        
         <!--select destination Location-->

         <div class="form-group">
          <ion-input type="text" class="form-control" placeholder="  Enter Drop Location"
            [(ngModel)]="DestinationLocation" (ionInput)="GetDestinationLocation(DestinationLocation)"
            (ionClear)="ClearAutocomplete()"></ion-input>
        </div>

  
         <!--showing the list of address-->
         <ion-list [hidden]="autocompleteItems.length == 0">
          <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
            {{ item.description }}
          </ion-item>
        </ion-list>

        
        <!--Pickup pincode-->

        <div class="form-group">
          <ion-input placeholder="Pickup Pincode" class="form-control"[(ngModel)]="pickupPincode" (ionChange)="getPickupState()"></ion-input>
        </div>

        

       
        <!--Pickup State-->

        <div class="form-group">
          <ion-input class="form-control" placeholder="Pickup State" disabled="disabled" [(ngModel)]="pickup"></ion-input>
        </div>

        

       
        <!--Dropup pincode-->
        
        <div class="form-group">
          <ion-input placeholder="Dropup Pincode" class="form-control"[(ngModel)]="dropupPincode" (ionChange)="getDropupState()"></ion-input>
        </div>

        <!--Dropup State-->

        <div class="form-group">
          <ion-input class="form-control"  placeholder="Dropup State" disabled="disabled" [(ngModel)]="dropup"></ion-input>
        </div>

        

        <div class="form-group">
          <ion-input class="form-control"  placeholder="Mobile Number" disabled="disabled" [(ngModel)]="regdata.mobileNo" readonly></ion-input>
        </div>

        

       
        <!--select Goods-->

        <div class="form-group">
          <div class="form-control">

            <ion-select placeholder="Select Goods Type" [multiple]="true" [(ngModel)]="product">
              <ion-select-option value="Bricks">Bricks</ion-select-option>
              <ion-select-option value="Cement Products">Cement Products</ion-select-option>
              <ion-select-option value="Clothes">Clothes</ion-select-option>
              <ion-select-option value="E-Waste">E-Waste</ion-select-option>
              <ion-select-option value="Electrical Equipment">Electrical Equipment</ion-select-option>
              <ion-select-option value="Flowers">Flowers</ion-select-option>
              <ion-select-option value="Fertilizer and Seeds">Fertilizer and Seeds</ion-select-option>
              <ion-select-option value="Food">Food</ion-select-option>

            </ion-select>
          </div>
        </div>

        

        <!--select Date and Time-->

        <div class="form-group">
          <div class="form-control">
            <ion-input type="datetime-local" placeholder="Pickup Date" style="border: none; "
              [(ngModel)]="date">Date & Time</ion-input>
          </div>
        </div>


        
        <!--Quantity-->

        <div class="form-group" style="display: flex;">
          <div>
          <ion-input type="  text" class="form-control" placeholder="Quantity" [(ngModel)]="Quantity">
          
          </ion-input>
</div>
          <div>
            <span>
              <ion-select placeholder="Type" [(ngModel)]="QuantityType">
             <ion-select-option value="Tonns">Tonns</ion-select-option>
             <ion-select-option value="Kilo Liters">Kilo Liters</ion-select-option>
             </ion-select>
           </span>
          </div>
        </div>
    



      </div>
    </ion-slide>
    <ion-slide>

      <!--SLIDE 2-->

      <!-- <div class="ion-padding" slot="content"> -->
        <div >
        <h1>Select vehicle</h1>

        <!--select vehicle Type-->

        <!-- <div class="row">
          <div>
            <div class="column">
              <input type="radio" name="payment" id="card" (change)="out('Tanker')">
              <label for="card">
                <ion-card-header>
                  <img src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg" style="height: 94px;
              width: 131px;
              margin-top: -50px;">
                  <ion-card-title>Tanker</ion-card-title>
                  <ion-card-subtitle>1 to 35 KL</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <div class="column">
              <input type="radio" name="payment" id="car" (change)="out('Hyva')">
              <label for="car">
                <ion-card-header>
                  <img
                    src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg"
                    style="height: 94px;
              width: 131px;
              margin-top: -50px;;">
                  <ion-card-title> Hyva</ion-card-title>
                  <ion-card-subtitle>1 to 35 Tonnes</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <div class="column">
              <input type="radio" name="payment" id="ca" (change)="out('LCV')">
              <label for="ca">
                <ion-card-header>
                  <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png"
                    style="height: 94px;
              width: 131px;
              margin-top: -50px;;">
                  <ion-card-title>LCV</ion-card-title>
                  <ion-card-subtitle>1 to 6 Tonnes</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <div class="column">
              <input type="radio" name="payment" id="cad" (change)="out('Open Truck')">
              <label for="cad">
                <ion-card-header>
                  <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png" style="height: 94px;
            width: 131px;
            margin-top: -50px;;">
                  <ion-card-title>Open Truck</ion-card-title>
                  <ion-card-subtitle>1 to 14 tonnes</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <div class="column">
              <input type="radio" name="payment" id="Trailer" (change)="out('Trailer')">
              <label for="Trailer">
                <ion-card-header>
                  <img
                    src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png"
                    style="height: 94px;
            width: 131px;
            margin-top: -50px;;">
                  <ion-card-title>Trailer</ion-card-title>
                  <ion-card-subtitle>1 to 100 Tonnes</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <div class="column">
              <input type="radio" name="payment" id="container" (change)="out('Container')">
              <label for="container">
                <ion-card-header>
                  <img
                    src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png"
                    style="height: 94px;
            width: 131px;
            margin-top: -50px;;">
                  <ion-card-title>Container</ion-card-title>
                  <ion-card-subtitle>1 to 18 Tonnes</ion-card-subtitle>
                </ion-card-header>
              </label>
            </div>

            <br>

           
          </div>
        </div> -->

        <div>
          <input type="radio" name="payment" id="card" (change)="out('Tanker')">
          <label for="card">
      
            <div class="imgdiv">
              <img
                src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              Tanker (1 to 35 KL)
            </div>
      
          </label>
        </div>
      
        <div>
          <input type="radio" name="payment" id="cash" (change)="out('Hyva')">
          <label for="cash">
            <div class="imgdiv">
              <img
                src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              Hyva (1 to 35 Tons)
            </div>
          </label>
        </div>
      
      
      
        <div>
          <input type="radio" name="payment" id="csh" (change)="out('LCV')">
          <label for="csh">
            <div class="imgdiv">
              <img
                src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              LCV (1 to 6 Tons)
            </div>
          </label>
        </div>
      
        <div>
          <input type="radio" name="payment" id="ash" (change)="out('Truk')">
          <label for="ash">
            <div class="imgdiv">
              <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              Truk (1 to 14 Tons)
            </div>
          </label>
        </div>

        
          <input type="radio" name="payment" id="Trailer" (change)="out('Trailer')">
          <label for="Trailer">
            <div class="imgdiv">
              <img src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              Trailer (1 to 52 Tons)
            </div>
          </label>
        

        
          <input type="radio" name="payment" id="Container" (change)="out('Container')">
          <label for="Container">
            <div class="imgdiv">
              <img src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png"
                style="width: 45px; height:45px; border-radius:50%;">
            </div>
      
            <div class="shipperdiv">
              Container (1 to 45 Tons)
            </div>
          </label>
        

        <ion-card class="form-group" *ngIf="data =='Truk'">

          <ion-card-title>Select the Truk body</ion-card-title>

          <div  style="margin-top: 1rem;">
            
          <div >
            <ion-radio-group [(ngModel)]="isTrukOpenOrClose" style="display: flex;">
              <ion-item>
                
                <ion-radio  value="Open body"></ion-radio>&nbsp;
                <ion-label>Open body</ion-label>
              </ion-item>
          
              <ion-item>
               
                <ion-radio  value="Closed body"></ion-radio>&nbsp;
                <ion-label>Closed body</ion-label>
              </ion-item>
            </ion-radio-group>
          </div>
          </div>

        </ion-card>
      </div>

      <!-- </div> -->
    </ion-slide>
    <ion-slide>

      <!--SLIDE 3-->
      <div class="container">
      <!-- <div class="ion-padding" slot="content"> -->
        
          <h1>Payment</h1>
          <br>
          <!--Expected Bill-->

          <div class="form-group">
            <ion-input type="  text" class="form-control" placeholder="Expected Price"
              [(ngModel)]="expectedPrice"></ion-input>
          </div>

          

          <!--How would you like to pay-->

          <div class="form-group">
            <div class="form-control">
              <ion-label></ion-label>
              <ion-select placeholder="Type of Payment to Lorry Owner" [(ngModel)]="typeOfPay">
                <ion-select-option value="Offline">Offline/Cash</ion-select-option>
                <ion-select-option value="Online">Online</ion-select-option>

              </ion-select>
            </div>
          </div>

          
        

        
  
            
          <!--How would you like to pay-->
  
            <!--How would you like to pay-->
       
          
  
          <!--Type of pay if offline-->
  
          <div class="form-group" style="display: flex;margin-bottom: 10px;" *ngIf="typeOfPay =='Offline' ">
            <div class="form-control">
              <p>How do you like to pay ?</p>
              <ion-radio-group [(ngModel)]="paymentTypeForOffline" >
  
                <div style="float: left;display: flex;font-size: large;">
                <ion-radio value="Advance"></ion-radio>
                <ion-label >Advance</ion-label>
              </div>
                <div style="display: inline; float: right;display: flex; font-size: large;">
                <ion-radio value="Full Payment"></ion-radio>
                <ion-label>Full Payment</ion-label>
              </div>
              </ion-radio-group>
            </div>
          </div>
  
            
  
  
  
  
          <!--How much advance -->
          <div class="form-group" *ngIf="paymentTypeForOffline =='Advance'" [hidden]="typeOfPay == 'Online'" style="margin-bottom: 10px;">
            <p>How much would you like to pay in advance ?</p>
            <ion-input type="text" class="form-control" placeholder="Advance" [(ngModel)]="advance"></ion-input>
          </div>
  
            <!--Comments-->
  
          <p *ngIf="typeOfPay =='Offline' " style="color: rgb(243, 77, 77);font-size: small;">We are Not Responsible for payment T&C</p>


          <!--Comments-->

          <div class="form-group">
            <ion-textarea type="  text" class="form-control" placeholder="Comments"
              [(ngModel)]="comments"></ion-textarea>
          </div>
        </div>
      <!-- </div> -->
    </ion-slide>
  </ion-slides>
  <div class="ion-padding">
    <ion-button (click)="slidePrev()" class="previous" shape="round">
      <ion-icon name="arrow-back"></ion-icon> Previous
    </ion-button>

    <ion-button (click)="slideNext()" class="Next" shape="round">
      Next <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>



  <!-- <div class="container">

  </div> -->

  <div #map='' style="height: 50%;"></div>
</ion-content>
<ion-button [hidden]="typeOfPay == 'Offline' || paymentTypeForOffline == 'Advance' || paymentTypeForOffline == 'Full payment'" (click)="sendData()" (click)="calculateAndDisplayRoute()" expand="full" class="next"
[disabled]="OriginLocation == null || DestinationLocation == null || pickupPincode == null || dropupPincode == null || date == null || product == null || Quantity == null || data == null || expectedPrice == null ||typeOfPay== null "
  shape="round">Submit</ion-button>


  <ion-button *ngIf="typeOfPay == 'Offline'||paymentTypeForOffline == 'Full Payment'" (click)="sendData()" (click)="calculateAndDisplayRoute()" expand="full" class="next"
[disabled]="OriginLocation == null || DestinationLocation == null || pickupPincode == null || dropupPincode == null || date == null || product == null || Quantity == null || data == null || expectedPrice == null ||typeOfPay== null ||paymentTypeForOffline == null " 
  shape="round">Submit</ion-button>

  <ion-button *ngIf=" paymentTypeForOffline == 'Advance'" [hidden]="paymentTypeForOffline == 'Full Payment' || typeOfPay == 'Offline'"(click)="sendData()" (click)="calculateAndDisplayRoute()" expand="full" class="next"
  [disabled]="OriginLocation == null || DestinationLocation == null || pickupPincode == null || dropupPincode == null || date == null || product == null || Quantity == null || data == null || expectedPrice == null ||typeOfPay== null ||paymentTypeForOffline == null || advance == null" 
    shape="round">Submit</ion-button>
<!--Expansion panel-->

<!-- 
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light" class="load">
        <ion-label style="font-size: larger;">Load Details</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">


      </div>
    </ion-accordion>

    <br>

    <ion-accordion value="second">
      <ion-item slot="header" color="light" class="truck">
        <ion-label style="font-size: larger;">Select Truck</ion-label>
      </ion-item>


    </ion-accordion>

    <br>

    <ion-accordion value="third">
      <ion-item slot="header" color="light" class="payment">
        <ion-label style="font-size: larger;">Payment</ion-label>
      </ion-item>
      
    </ion-accordion>
  </ion-accordion-group> -->


<!--ODC checkbox-->

<!-- <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>It's a ODC consignment</ion-label>
      </ion-item> -->