<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: flex;">
        <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
        <ion-title style="text-align:center;">Help & Guide</ion-title>
      </div>
    
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <div class="container">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <p>How to post the load on the truk?</p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-label style="align-items: center;">STEP:</ion-label>
          <br><br>
          <p>1.Go to My Loads tab
            press the Post Load button
            Now fill out your Load Details
            Go to My Loads tab
            press the Post Load button
            Now fill out your Load Details</p>
          <br>
          <p>2.Enter the pick up location, drop up
            location on your load, Goods type
            like ( iron, steel, Bricks) and the
            quantity of loads in tonnes
            Next select the truk type,and
            truk capacity</p>
          <br>
          <p> 3.If your load is taller or wider than the
            truk dimensions, please enable ODC
            and add the length, breadth and
            height of your load</p>
          <br>
          <p>4.In the payment details section,
            enter your expected price, select the
            payment mode and select Next
            If you have comments regarding the
            load or want to communicate any
            details ,kindly add them in the
            comments section.</p>
          <br>
          <p>5.Now , press Post Load.
            Congratulations, your load is now
            posted you will start getting bids
            from transporter within 20-25
            minutes.</p>
          <br>
          <p>6.Enter the pick up location, drop up
            location on your load, Goods type
            like ( iron, steel, Bricks) and the
            quantity of loads in tonnes
            Next select the truk type,and
            truk capacity.</p>
          <br>
          <p>7.If your load is taller or wider than the
            truk dimensions, please enable ODC
            and add the length, breadth and
            height of your load.</p>
          <br>
          <p>8.In the payment details section,
            enter your expected price, select the
            payment mode and select Next.</p>
          <br>
          <p>9.If you have comments regarding the
            load or want to communicate any
            details ,kindly add them in the
            comments section.</p>
          <br>
          <p>10.Now , press Post Load.
            Congratulations, your load is now
            posted you will start getting bids
            from transporter within 20-25
            minutes</p>
        </div>
      </ion-accordion>
      <br>
      <ion-accordion value="second">
        <ion-item slot="header">
          <p>How to verify Aadhar and GST on Truk App?</p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-label style="text-align: center;">STEPS::</ion-label>
          <br><br>
          <p>1.Click on your profile picture on the top right corner</p>
          <br>
          <p> 2.Here, you will see the profile section</p>

          <br>
          <p>3.you will see KYC banner in profile
            section , click on that. </p>
          <br>
          <p> 4.First let’s get your Aadhar Verified

            <br>
            ---> Enter your 12-digit Aadhar number
            and click on get OTP.
            <br>
            --->You will get an OTP on the mobile
            number linked to your Aadhar.
            <br>
            --->Submit your OTP and get Aadhar
            verified!
          </p>

          <p> 5.Next finish the GST verification.
            <br>
            --->Enter your 15-digit GST number.<br>

            --->You will get an OTP on the mobile
            number linked to your GST.<br>
            --->Submit your OTP and get Aadhar
            verified!
          </p>
          <br>
          <p>6.Congratulations, you are now a
            verified shipper with a verified
            badge on truk</p>
        </div>
      </ion-accordion>
      <br>
      <ion-accordion value="third">
        <ion-item slot="header">
          <p>How to attach load in truk on the Truk App?</p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-label style="text-align: center;">STEPS::</ion-label>
          <br><br>
          <p>1.Go to the truk market tab on the bottom.</p>
          <p>2.In the truk market tab you will find a list of live truks.</p>
          <p>3.Use the advanced search to filters loads based on your requirements like vehicle type.</p>
          <p>4.Choose the truk you want to attach the load.</p>
          <p>5.In the payment details screen, enter your bid rate ,load quantity and mention if your rate is negotiable.
          </p>
          <p>6.Finally post the load.</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
