/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    
  }

  ion-card {
    margin: 40px;
    margin-bottom: 30px;
    width: 20%;
    padding: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin-top: 30px;
display: flex;
justify-content: center;
}
  
  /* Clear floats after the columns */
 /* .row:after {
    content: "";
    display: table;
    clear: both;
  }*/

  ion-button{
    background: #f58e26;
    height:50px ;
   border-radius: 10px;
    margin: 10px;
    margin-bottom: 40px;
  }
  ion-card-subtitle,
  ion-card-title{
    display: flex;
    justify-content: center;
  }
  .color1{
    background:#361eef
  }





  /////////////
  input[type=radio]{
    -webkit-appearance: none;
}

label{
  height: 130px;
  width: 130px;
  border: 3px solid #f58e26;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  color: #f58e26;
  transition: 0.5s;

  ion-card-header{
    margin-top: 22px;
  }
}

.fa {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%); 
}

label>span {
  font-size: 25px;
  
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}

input[type=radio]:checked + label {
	background-color: #f58e26;
	color: #ffffff;
	box-shadow: 0 15px 45px rgb(24,249,141,0.2);
}
