<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title  align="center">
      Select Language
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
<div class="row">

<!--<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor1('color1')">
  <ion-card-header>
    <ion-card-title>English</ion-card-title>
    <ion-card-subtitle>English</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor2('color1')">
  <ion-card-header>
    <ion-card-title> हिन्दी</ion-card-title>
    <ion-card-subtitle>Hindi</ion-card-subtitle>
  </ion-card-header>


</ion-card>

<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor3('color1')">
  <ion-card-header>
    <ion-card-title>मराठी</ion-card-title>
    <ion-card-subtitle>Marathi</ion-card-subtitle>
  </ion-card-header>


</ion-card>

<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor4('color1')">
  <ion-card-header>
    <ion-card-title>ગુજરાતી</ion-card-title>
    <ion-card-subtitle>Gujarati</ion-card-subtitle>
  </ion-card-header>

</ion-card>

<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor5('color1')">
  <ion-card-header>
    <ion-card-title>తెలుగు</ion-card-title>
    <ion-card-subtitle>Telugu</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card color="light"  [class.color1]="isSelected === 'color1'" (click)="setColor6('color1')">
  <ion-card-header>
    <ion-card-title>ಕನ್ನಡ</ion-card-title>
    <ion-card-subtitle>Kannada</ion-card-subtitle>
  </ion-card-header>


</ion-card>-->
<div class="box">
<input type="radio" name="payment" id="card" (change)="out('English')">
<label for="card">
  <ion-card-header>
    <ion-card-title>English</ion-card-title>
    <ion-card-subtitle>English</ion-card-subtitle>
  </ion-card-header>
</label>
</div>

<div>
<input type="radio" name="payment" id="cash" (change)="out('Hindi')">
<label for="cash">
  <ion-card-header>
    <ion-card-title> हिन्दी</ion-card-title>
    <ion-card-subtitle>Hindi</ion-card-subtitle>
  </ion-card-header>
</label>
</div>

<div>
  <input type="radio" name="payment" id="cas"  (change)="out('Marathi')">
  <label for="cas">
    <ion-card-header>
      <ion-card-title>मराठी</ion-card-title>
      <ion-card-subtitle>Marathi</ion-card-subtitle>
    </ion-card-header>
  </label>
  </div>

  <div>
    <input type="radio" name="payment" id="ca" (change)="out('Gujarati')">
    <label for="ca">
      <ion-card-header>
        <ion-card-title>ગુજરાતી</ion-card-title>
        <ion-card-subtitle>Gujarati</ion-card-subtitle>
      </ion-card-header>
    </label>
    </div>

    <div>
      <input type="radio" name="payment" id="csh" (change)="out('Telugu')">
      <label for="csh">
        <ion-card-header>
          <ion-card-title>తెలుగు</ion-card-title>
          <ion-card-subtitle>Telugu</ion-card-subtitle>
        </ion-card-header>
      </label>
      </div>

      <div>
        <input type="radio" name="payment" id="ash" (change)="out('Kannada')">
        <label for="ash">
          <ion-card-header>
            <ion-card-title>ಕನ್ನಡ</ion-card-title>
            <ion-card-subtitle>Kannada</ion-card-subtitle>
          </ion-card-header>
        </label>
        </div>

</div>

</ion-content>
<ion-button color="#a13cd7;"  [disabled]="language == null" (click)="selectlanguage()">Select Language</ion-button>


