/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    
  }

  ion-card {
    margin: 40px;
    margin-bottom: 30px;
    width: 20%;
    padding: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin-top: 60px;
display: flex;
justify-content: center;
}
  
  /* Clear floats after the columns */
 /* .row:after {
    content: "";
    display: table;
    clear: both;
  }*/

  ion-button{
    background: #f58e26;
    height:50px ;
   border-radius: 10px;
    margin: 10px;
    margin-bottom: 40px;
  }
  ion-card-subtitle,
  ion-card-title{
    display: flex;
    justify-content: center;
  }
  .color1{
    background:#361eef
  }





  /////////////
  input[type=radio]{
    -webkit-appearance: none;
}

label{
  height: 130px;
  width: 130px;
  border: 3px solid #0b0b0a;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  color: #f58e26;
  transition: 0.5s;

  ion-card-header{
    margin-top: 22px;
  }
}

.fa {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%); 
}

label>span {
  font-size: 25px;
  
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}

input[type=radio]:checked + label {
	background-color: #f58e26;
	color: #ffffff;
	box-shadow: 0 15px 45px rgb(24,249,141,0.2);
}
.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.circle {

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-1 {

  position: absolute;
  left: -23.42%;
  right: 75.35%;
  top: -8.04%;
  bottom: 80.47%;
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
}

.circle-2 {
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
  position: absolute;
  left: -2%;
  right: 50.93%;
  top: -18.48%;
  bottom: 86.91%;
}