



<form  class="ion-margin" >
  
  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Enter FirstName" type="text" clearInput="true" formControlName="firstName"  ></ion-input>
    </ion-item>
  
  </div> 
  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Enter LastName" type="text" clearInput="true" formControlName="lastName" ></ion-input>
    </ion-item>
  
  </div>

  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Enter City" type="text" clearInput="true"  formControlName="city"  ></ion-input>
    </ion-item>
  
  </div>

  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Enter CompanyName" type="text" clearInput="true"  formControlName="companyName"   ></ion-input>
    </ion-item>
  
  </div>

  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Referal Code(optional)" type="text" clearInput="true" formControlName="ReferalCode" ></ion-input>
    </ion-item>
  
  </div>

 

  <div class="ion-margin-vertical">
   
    <ion-item >
      <ion-input placeholder="Enter mobileNo" type="text" clearInput="true"  formControlName="mobileNo" ></ion-input>
    </ion-item>
  
  </div>

  
  
</form>


  <ion-button
   class="ion-margin-horizontal"
    
    expand="block" 

    (click)="RegisterFor()" [disabled]="!FirstName || !LastName || !city || !companyName"
    >
    <ion-text>Next</ion-text>
  </ion-button>

  






