.profile{
  float: left;
  margin-right: 50px;
}
.new-background-color{
  --background: white;
}
.flex-right{
  justify-content: flex-end;
}

ion-button{
  
  
  
  --background: #F58E26;
}
.homeButtons{
  --background: #F58E26;
}
.secondButton{
  --background: #F58E26;
}
.loadListing{
  --background: #F58E26;
}
  
      
     /* ion-segment {
          --background: var(--ion-color-primary-contrast);
          width: 95%;
          border: 1px solid lightgray;
          --margin-top: 5px;
          --margin-bottom: 5px;
          
          ion-segment-button {
             
              --background-checked: #f58e26;
              --indicator-color: #f58e26;
              
              --color: black;
              --color-checked: var(--ion-color-primary-contrast);
              
          }
      
  }*/




img{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 70%;
height: 13rem;
width: 17rem;
}

/* ion-card-header.ios {
display: flex;
flex-flow: column-reverse;
} */

.viewbidbtn{
  width:140px;
   height:40px;
   margin-top: 20px;
   padding-top: 10px;
    background-color:orange;
    border-radius: 10px;
    margin-left: 73px;
    position: relative;
    
}
.securepayment{
  width: 125px;
  height: min-content;
  float:inline-start;
  display: flex;
  margin-top: 10px;
  border-radius: 16px;
  padding: 4px;
  font-size: 10px;
  border: 2px solid green;
}
.offlinepayment{
  width: 125px;
  height: min-content;
  float:inline-start;
  display: flex;
  margin-top: 10px;
  border-radius: 16px;
  padding: 4px;
  font-size: 10px;
  border: 2px solid rgb(230, 77, 21);
}
.viewbidbtn .badge {
  position:absolute;
  top: -10px;
  right: 57px;
  padding: 7px 10px;
  padding-bottom:5px ;
  border-radius: 50%;
  background-color: #7ade28;
  color: white;
}
#dropbtn {
font-size: 25px;
float: right;

}

/*.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;



}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;

}

.dropdown-content a:hover {background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;
}*/

.place{
--background: #F58E26;
//width: 80px;
//border-radius: 9px;
}

ion-segment-button{
  --background: #F58E26;
  color:rgb(9, 9, 9);

  border-radius: 10px;
}
ion-segment{
 // --background: #F58E26;
  border-radius: 20px;
}




///css cars
body{margin-top:20px;
  background-color:#eee;
  }
  .card {
      margin-bottom: 24px;
      box-shadow: 0 2px 3px #e4e8f0;
  }
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #4e535f;
      border-radius: 1rem;
  }
  .avatar-md {
      height: 4rem;
      width: 4rem;
  }
  .rounded-circle {
      border-radius: 50%!important;
  }
  .img-thumbnail {
      padding: 0.25rem;
      background-color: #f1f3f7;
      border: 1px solid #eff0f2;
      border-radius: 0.75rem;
  }
  .avatar-title {
      align-items: center;
      background-color: #3b76e1;
      color: #fff;
      display: flex;
      font-weight: 500;
      height: 100%;
      justify-content: center;
      width: 100%;
  }
  .bg-soft-primary {
      background-color: rgba(59,118,225,.25)!important;
  }
  a {
      text-decoration: none!important;
  }
  .badge-soft-danger {
      color: #f56e6e !important;
      background-color: rgba(245,110,110,.1);
  }
  .badge-soft-success {
      color: #63ad6f !important;
      background-color: rgba(99,173,111,.1);
  }
  .mb-0 {
      margin-bottom: 0!important;
  }
  .badge {
      display: inline-block;
      padding: 0.25em 0.6em;
      font-size: 75%;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.75rem;
  }