<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start" >
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
   
    <div align="center">
    <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
      <ion-img src="assets/trucklogo.jpeg"></ion-img>
     </div>
     </div>
    <ion-icon name="notifications-outline" style=" margin-top: 7px; font-size: 30px; margin-left: -3px;
        " slot="end"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content  refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-toolbar class="new-background-color"> -->

  <!-- <ion-button  class="homeButtons" >Load listing</ion-button>
  <ion-button class="secondButton" style="margin-left: 170px;">My Bids</ion-button> -->


  <!-- <ion-list>
    <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Load Listing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>My Bids</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <app-loadlisting *ngIf="segmentValue =='1'"></app-loadlisting>
    <app-mybids *ngIf="segmentValue =='2'"></app-mybids>
  </ion-list> -->

  <!-- </ion-toolbar> -->

  <div class="container">
    <!--<br>
    <img src="https://img.freepik.com/free-vector/hand-drawn-transport-truck_23-2149145940.jpg"
      style="align-items: center; text-align: center;">

    <br>-->


  <!-- <ion-card-subtitle style="font-size:larger; font-weight: bold; float: left;">Loads:</ion-card-subtitle> -->
    
        
          
          <!--<ion-segment [scrollable]="true" value="home">
            <ion-segment-button value="home" (click)="toggle('Active')">
              <ion-label>Active</ion-label>
            </ion-segment-button>
            <ion-segment-button value="heart" (click)="toggles('Deactive')">
              <ion-label>Deactive</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pin" (click)="toggless('Completed')">
              <ion-label>Completed</ion-label>
            </ion-segment-button>
      
          </ion-segment>-->
      <br>
      <ion-row>
          <ion-segment value="Active" [scrollable]="true">
            <ion-col>
            <ion-segment-button value="Active" (click)="toggle('Active')">
              <ion-label>Active</ion-label>
            </ion-segment-button>
            </ion-col>
            
            <ion-col>
            <ion-segment-button value="Deactive" (click)="toggles('Deactive')">
              <ion-label>Deactive</ion-label>
            </ion-segment-button>
            </ion-col>
            <!--<ion-segment-button value="heat" (click)="togglesss('In-Progress')">
              <ion-label>In-Progress</ion-label>
            </ion-segment-button>-->
            <ion-col>
            <ion-segment-button value="Completed" (click)="toggless('Completed')">
              <ion-label>Completed</ion-label>
            </ion-segment-button>
            </ion-col>
          </ion-segment>
        </ion-row>
    
          <ion-searchbar animated="true" placeholder="Search" style="width: 101%; --border-radius: 20px; margin-left: -1px;"
          align="centre" [(ngModel)]="searchtext"></ion-searchbar>




    <div *ngIf="item.length !=0">

  


 
    
        
            <div class="card" *ngFor="let text of item | filter:searchtext" >
                <div class="card-body">
                  <div type="button" class="securepayment"  *ngIf="text.typeOfPay == 'Online'"  ><br>
                    &nbsp;&nbsp; <i class="fa fa-shield" style="font-size: 25px; color:green;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <div>
                    <span style="color: green;">Online Payment</span><br>
                    <span style="color: green;">Truk App Assured</span>
                    </div>
                  </div>

                  <div type="button" class="offlinepayment" *ngIf="text.typeOfPay == 'Offline'"  ><br>
                    &nbsp;&nbsp; <i class="fa fa-shield" style="font-size: 25px; color:rgb(248, 42, 24);" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <div>
                    <span style="color: rgb(248, 42, 24);">Offline Payment</span><br>
                    <span style="color: rgb(248, 42, 24);">Hand Cash</span>
                    </div>
                  </div>
                  
                    <!--<div class="dropdown float-end" style="float:right;">
                        <a class="text-muted dropdown-toggle font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-horizontal-rounded"></i></a>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" >Edit</a><a class="dropdown-item" >Action</a><a class="dropdown-item" >Remove</a></div>
                    </div>-->
                    <div class="dropdown" style="float: right;top:-37px;" *ngIf="text.isActive === 'Active'" >
                      <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        D
                      </button>-->
                      <i class="bx bx-dots-horizontal-rounded" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;"></i>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--<a class="dropdown-item" routerLink="/edit-page" (click)="sendData(text)">Edit</a>-->
                        <a class="dropdown-item" (click)="Isactive(text)" >Deactive</a>
                        <a class="dropdown-item" (click)="loadDetails(text)" >More Details</a>
                      </div>
                    </div>

                    <div class="d-flex align-items-center mt-1">
                        <div><img src="https://media.istockphoto.com/id/1150981488/vector/brown-paper-box.jpg?b=1&s=170667a&w=0&k=20&c=ExZoHBgVStsXWmQiQw4hVlN-EvhEec-QrqhpXiym2og=" alt="" class="avatar-md rounded-circle img-thumbnail" />
                          
                          &nbsp;&nbsp;<span *ngIf="text.isActive === 'Active'" style="color: black; font-weight:bolder;">{{text.isActive}}</span><span *ngIf="text.isActive === 'Deactive'"  style="color: rgb(245, 26, 26); font-weight:bolder;">{{text.isActive}}</span>
                          <span *ngIf="text.isActive === 'Completed'"  style="color: rgb(14, 232, 101); font-weight:bolder;">{{text.isActive}}</span>
                        </div>&nbsp;&nbsp;
                        <div class="flex-1 ms-3" style="margin-top: -25px;">
                            <h5 class="font-size-16 mb-1" style="color:black; font-weight:bolder;"><a  class="text-dark" style="font-size: small; color:black; font-weight:bold;">{{text.OriginLocation}}--{{text.DestinationLocation}}</a></h5>
                            <span class="badge badge-soft-success mb-0"> Posted On {{text.date}}</span>
                        </div>
                    </div>
                    <div class="mt-1 pt-1">
                        <p  class="text-muted mb-0 mt-2"  ><i class="fa fa-cubes font-size-15 align-middle pe-2 " ></i> {{text.product}}</p>
                        <p  class="text-muted mb-0 mt-2">&nbsp;<i class="fa fa-truck font-size-15 align-middle pe-2 "></i>{{text.Quantity}}--{{text.data}}</p>
                        <p class="text-muted mb-0 mt-2">&nbsp;<i class="fa fa-money font-size-15 align-middle pe-2 "></i>  Expected Price ₹ <span style="color:black; font-weight:bolder;">{{text.expectedPrice}}</span></p>
                    </div>
                    <div style="display:inline-flex;" *ngIf="text.isActive === 'Active'" >
                    
                        <button type="button" class="viewbidbtn" (click)="bidById(text)" >
                          <span> view Bids</span>
                          <span class="badge">{{text.bids.length}}</span>
                          </button>

                          <button type="button" class="viewbidbtn" (click)="placebidById(text)" >
                            <span> place Bids</span>
                            
                            </button>
                         
                    </div>
                </div>
            </div>
        
       
   
    
    
  

      <!--<ion-card style="  box-shadow:0 2.8px 2.2px rgba(0,0,0,0.034),
                                     0 6.7px 5.3px rgba(0,0,0,0.034),
                                     0 12.5px 10px rgba(0,0,0,0.06) ,
                                     0 22.3px 17.9px rgba(0,0,0,0.072),
                                     0 41.8px 33.4px rgba(0,0,0,0.086),
                                     0 100px 80px rgba(0,0,0,0.12); width:320px; padding:10px;"  *ngFor="let text of item">

      <div style="display:flex; margin-bottom:20px;">
        <div>
          <ion-img
          src="https://media.istockphoto.com/id/1150981488/vector/brown-paper-box.jpg?b=1&s=170667a&w=0&k=20&c=ExZoHBgVStsXWmQiQw4hVlN-EvhEec-QrqhpXiym2og="
          style="width:60px; height:60px;" ></ion-img>
        </div>
        <div style="  width:210px; margin-left:5px;">
          <span style="font-size:15px; color:black;">{{text.pickupState}}</span>---
          
          <span style="font-size:15px; color:black;">{{text.dropupState}}</span><br>
         <span style="font-size:14px;"> Posted On {{text.date}}</span>
        </div>
        <div>
          <ion-icon name="ellipsis-vertical-outline" style="float: right; font-size: 28px;" id="dropbtn"></ion-icon>
            <div class="dropdown-content " style="float: right;">


              <a routerLink="/edit-page" (click)="sendData(text)">Edit</a>
              <a (click)="Isactive(text)" >Deactive</a>
              <a (click)="loadDetails(text)">More Details</a>
            </div>
        </div>

      </div>
      <hr>
      <div style="display: flex;">
    <div style="float:left;">
      {{text.product}}<br>
      {{text.Quantity}}tons--{{text.data}}<br>
      Online
    </div>
     <div align="center" style="margin-left: 5px; margin-right:5px; ">
      <ion-button fill="solid" class="place" (click)="bidById(text)">View Bids</ion-button>
     </div>
     <div style="float:right;">
      Expected Price<br>
      ₹ {{text.expectedPrice}}
      <div style="width:100px; height:40px; border:1px solid green;">
       <small></small>
      </div>
     </div>
      </div>

      </ion-card>-->
      <!--<ion-card *ngFor="let text of item" style="border: 2px solid #F58E26; ">
        <ion-card-header>
          <div class="dropdown">
            <ion-icon name="ellipsis-vertical-outline" style="float: right; font-size: 28px;" id="dropbtn"></ion-icon>
            <div class="dropdown-content " style="float: right;">


              <a routerLink="/edit-page" (click)="sendData(text)">Edit</a>
              <a (click)="Isactive(text)" >Deactive</a>
              <a (click)="loadDetails(text)">More Details</a>
            </div>
            <p style="font-size: 17px;">{{text.isActive}}</p>
            <div>
              <ion-img
                src="https://media.istockphoto.com/id/1150981488/vector/brown-paper-box.jpg?b=1&s=170667a&w=0&k=20&c=ExZoHBgVStsXWmQiQw4hVlN-EvhEec-QrqhpXiym2og="
                style="height: 20%; width: 20%;" float="left"></ion-img>
              <div style="margin-top: -4rem; margin-left: 76px;">
                <ion-card-title>{{text.OriginLocation}} -- {{text.DestinationLocation}}</ion-card-title>
                <ion-card-subtitle>Posted On {{text.date}}</ion-card-subtitle>
              </div>
            </div>
            <p>-----------------------------------------------------------------------</p>
          </div>
        </ion-card-header>
     

        <ion-card-content>
          {{text.product}}
        </ion-card-content>

        <ion-card-content>
          {{text.data}} -- {{text.Quantity}}
        </ion-card-content>
        <ion-button fill="solid" shape="round" class="place" (click)="bidById(text)">View Bids</ion-button>
        <ion-card-title style="float: right; margin-top: -53px;">₹ {{text.expectedPrice}}</ion-card-title>
      </ion-card>-->
    </div>

    
    <div *ngIf="item.length ==0">
      <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg"
        style="height: 70px; width: 70px;">
    
    <br>
    <h3 align="center">Post load to book live loads and use directory</h3>
    <br>
  </div>
  </div>


</ion-content>
<div class="postLoad" align="center">
<ion-button   routerLink="/attach-new-load" color=""  >Post Load</ion-button>
</div>