.profile{
  float: left;
  margin-right: 50px;
}
.new-background-color{
  --background: white;
}
.flex-right{
  justify-content: flex-end;
}

.postLoad{
  --background: #F58E26;
}
.homeButtons{
  --background: #F58E26;
}
.secondButton{
  --background: #F58E26;
}
.loadListing{
  --background: #F58E26;
}
ion-content {
  ion-list {
      padding-bottom: 50px;
      ion-segment {
          --background: var(--ion-color-primary-contrast);
          border-radius: 20px;
          border: 1px solid lightgray;
          --margin-top: 5px;
          --margin-bottom: 5px;
          margin-right:10px;
          ion-segment-button {
             
              --background-checked: #f58e26;
              --indicator-color: #f58e26;
              --border-radius: 20px;
              --color: black;
              --color-checked: var(--ion-color-primary-contrast);
              
          }
      }
  }
}



img{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 70%;
height: 16rem;
width: 20rem;
}

/* ion-card-header.ios {
display: flex;
flex-flow: column-reverse;
} */



#dropbtn {
font-size: 25px;
float: right;

}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;



}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;

}

.dropdown-content a:hover {background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;
}

.place{
--background: #F58E26;
}