<ion-header>
  <ion-toolbar>
    <ion-title>YourTruckPosted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center">
<ion-img src="https://img.freepik.com/premium-vector/delivery-truck-cartoon-style_1639-39447.jpg?w=2000" ></ion-img>

</div>
<div class="cool">
<h1>Your Truck Posted</h1>
</div>
</ion-content>

<ion-button expand="full" shape="round" class="back" routerLink="/add-truck">Add Another Truck</ion-button>
<ion-button expand="full" shape="round" color="medium" routerLink="/mytrucks">Truck Details</ion-button>
