.center{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 17rem;
  }
  .back{
      --background: #f58e26;
  }
  
  .cool{
    margin-left: 117px;
  }