<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title style="text-align:center;">Contact Faq"s</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-content class="ion-padding">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <p>How do I get started on the Truk App Market Place?</p>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Join Truk App, India’s most trusted community of Transporters, Truck owners & Consignors. Follow these
                simple steps to get started:</p><br>

                <p>Sign-up using your mobile number & choose your role:Truk provider or Load provider.</p><br>
              <p>Attach your truck(s) or post your loads to get bids within 20 minutes. Approve the bids to complete
                deals.</p>  <br>
              <P>Use the ‘Load Market’ or ‘Truk Market’ for quick bookings.</P>
            </div>
          </ion-accordion>
          <br>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <p> Who can register on Truk App? what are the charges?</p>
            </ion-item>
            <div class="ion-padding" slot="content">
             <P>Truk App is a completely free platform to find and book loads and Truks online. Users can register & choose their role as either “Truk Provider” or “Load Provider”.</P> 

             <P> Lorry/Truck Provider: Transporters, Transportation Service Providers, Logistic Companies, Truck & Fleet Owners, Truck Brokers.</P>
             <P> Load Provider: Consignors & Factory Owners, Dispatch Departments, Freight Booking & Commission Agents, Transporters, Traders & Trading agents, Small & Medium Business Owners.</P>
           <P>Vahak is a 100% free app made for the Indian Transport Community with business-specific features to improve your brand, grow your professional transport network and save time on daily bookings.</P>
            </div>
          </ion-accordion>
          <br>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <p>What are the Benefits of ‘connections’ on Truk App</p>
            </ion-item>
            <div class="ion-padding" slot="content">
              <P>The transport business in India is highly network-dependent. Truk App helps users connect and develop a trusted personal network. This network of ‘Connections’ can be leveraged for business growth.</P>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <br><br><br>
        <div class="contaniner">
          <h2>If you can't find the answer you 're looking for <u style="color: brown;" routerLink="/contact-us">click here</u></h2>
        </div>


        
      </ion-content>

</ion-content>