<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title style="text-align:center;">PrivacyPloicy</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 style="text-align: center; color: #F58E26;">Privacy Policy</h1>

  <h3 style="text-align: center;">Privacy policy for truk app</h3>

  <div class="container">

    The Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and
    protection of your information when you use our website/app located at <p style="color: blue;">
      https://www.TrukApp.com</p>, or the TrukApp mobile application (collectively, “This Platform”) made available by
    Enforti Global Logistics Private Limited (“Company”, “we”, “us” and “our”), a private company established under the
    laws of India having its registered office at Flat No. 403, Block B, Sainath Enclave, Venkataramana Colony, Gokul
    Plots Area, 9th Phase, KPHB - 500085, Telangana.<br>
    The terms “you” and “your” refer to the user of This Platform. The term “Services” refers to any services offered by
    TrukApp whether on the This Platform or otherwise.<br>
    Please read this Policy before using This Platform or submitting any personal information to This platform. This
    Policy is a part of and incorporated within, and is to be read along with, the Terms and Conditions.<br>

    <h2>Information you provide TrukApp:</h2>
    We collect information you provide directly to us, such as when you create or modify your account, contact customer
    support, or otherwise communicate with us. This information may include: name, email, phone number, postal address,
    and any other information you choose to provide. Information that you provide to us in the form of support to our
    platform.<br>

    <h2>Information We Collect:</h2>
    When you use our Services, we collect information about you in the following general categories:<br>
    Location Information: When you use our services, we collect location data about the delivery transaction involved.
    If you permit the app to access location services through the permission system used by your mobile operating
    system, we may also collect the precise location of your device when the app is running in the foreground or
    background.<br>
    Transaction Information: We collect transaction details related to your entering into any transaction with any other
    user of this app procuring/rendering services including type of service requested, Date, time, place, distance
    involved, and other related transaction details.<br>
    Usage and Preference Information: We collect information about how you interact with our services, other users,
    preferences expressed and settings chosen. In some cases we do this through the use of cookies and other similar
    technologies that create and maintain unique identifiers.<br>
    Device Information: We may collect information about your mobile device including for example operating system and
    version, software and file names, preferred language, etc.<br>
    Log Information: When you avail the services, we may collect server logs, which may include information like device
    IP address, access dates and times, app features or pages viewed, app crashes and other system activity, type of
    browser, etc.<br>
    Account information: We may collect information about your bank accounts or UPI Ids in order to process
    payments/refunds, if applicable<br>

    <h2>Usage of Information:</h2>
    We primarily use the information including but not limited to following purposes:<br>
    To facilitate your usage of our services;<br>
    To process or facilitate payments for Services;<br>
    To Contact you with promotional offerings or other communications that may be of interest to you;<br>
    To contact you in connection with your Services;<br>
    To perform internal operations necessary to provide our Services, troubleshooting software bugs and operational
    problems, to conduct data analysis, testing, research, and to monitor and analyse usage and activity trends;<br>
    To personalize the content and features you see when you visit our sites or use our plug-in;<br>
    To respond to your questions and assist with problems with our Services;<br>
    To enhance other information, we have about you to help us better understand you and determine your interests;<br>
    To assist you when you contact our customer support services, including a) Direct your questions to the appropriate
    customer support person, b) Investigate and address your concerns, c) Monitor and improve our customer support
    responses;<br>
    For product development. This allows us to improve and enhance the safety and security of our Services, develop new
    features and products;<br>

    <h2>Sharing of Information:</h2>
    We DON’T share or transfer your personally identifiable information with outside parties. This does not include our
    trusted third parties who assist us in operating our app, conducting our business and also they agree to keep your
    information confidential.<br>
    We may also disclose your information to the extent necessary:<br>
    To comply with laws and to respond to lawful requests and legal process,<br>
    To protect the rights and property of the company, our users, and others, including to enforce the terms,<br>
    In an emergency to protect the personal safety and assets of the company, the users or any person.<br>
    In such an event we are in no manner responsible for informing you or seeking your approval or consent.<br>

    <h2>Contact Us:</h2>
    If there are any questions/queries regarding this privacy policy or Terms and Conditions mentioned herein above you
    may contact us by writing to <p style="color: blue;">info@trukapp.com.</p><br>
  </div>

   <div class="container">
    <div class="rectangle">
      <div align="center" style="margin-top: 10%; margin-left: -2rem;">
        <img src="assets/trucklogo.jpeg" style="border-radius: 30px;">
      </div>
      <div style="color: white; margin-left: 7rem;">
      <h6>Terms and Conditions</h6>
      <h6>Payment Guidelines and T&C</h6>
      <h6>Frequently asked questions</h6>
      <h6>Privacy Policy</h6></div>
    </div>

  </div>

</ion-content>
