

.bb{
    --background: #f58e26;
  }
  
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  
  
  .load{
    margin-left: 140px;
    float: right;
    display: inline;
  }
  
  .column {
    float: left;
    width: 47.33%;
    padding: 5px;
  }

  ion-segment-button{
    --background: #f58e26;
  color: black;
  
  }
  
  ion-segment{
   
    border-radius: 10px;
  
  }

  .noitem{
    text-align: center;
    color: #b2b2b2;
    img{
        width: 100px;
        margin-top: 50px;
    }
  }


  ///////////
  .viewbidbtn{
    width:140px;
     height:40px;
     margin-top: 20px;
     
      background-color:orange;
      border-radius: 10px;
  
      
      
  }
  body{margin-top:20px;
    background-color:#eee;
    }
    .card {
        margin-bottom: 24px;
        box-shadow: 0 2px 3px #e4e8f0;
        margin: 20px;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #4e535f;
        border-radius: 1rem;
    }
    .avatar-md {
        height: 4rem;
        width: 4rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .img-thumbnail {
        padding: 0.25rem;
        background-color: #f1f3f7;
        border: 1px solid #eff0f2;
        border-radius: 0.75rem;
    }
    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .bg-soft-primary {
        background-color: rgba(59,118,225,.25)!important;
    }
    a {
        text-decoration: none!important;
    }
    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }
    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }
    .mb-0 {
        margin-bottom: 0!important;
    }