<ion-header>
  <ion-toolbar>
    <div style="display: flex;">

      <div class="form-check  form-check-inline ">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
        <label class="form-check-label" for="exampleRadios1">
          Looking for Truks
        </label>
      </div>
      <div class="form-check form-check-inline" slot="end" class="load">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Looking for loads
        </label>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


  <div style="align-items: center; text-align: center;">
    <img src="https://media.gettyimages.com/photos/empty-dump-truck-picture-id505895442" width="50%" height="50%">
  </div>
  <!--<ion-card>
    <ion-card-header>
    
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float: right; background: none; border: none;">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon >Active</mat-icon>
            <span (click)="toggle('Active')">Active</span>
          </button>
          <button mat-menu-item>
            <mat-icon>Deactive</mat-icon>
            <span (click)="toggle('Deactive')">Deactive</span>
          </button>
        </mat-menu>
      <ion-card-subtitle>My Trucks</ion-card-subtitle>  
    </ion-card-header>
  </ion-card>-->

  <!-- <mat-card>
    <mat-card-content>My Trucks</mat-card-content>
    <mat-card-content style="float: right;"><ion-icon name="filter"></ion-icon></mat-card-content>
  </mat-card> -->
  <div class="container">
    <ion-row>
      <ion-segment [scrollable]="true" value="home">
  
        <ion-col>
          <ion-segment-button value="home" (click)="get()">
            <ion-label>All Truks</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="heart" (click)="toggle('Active')">
            <ion-label>Active</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="star" (click)="toggle('Deactive')">
            <ion-label>Deactive</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="pin" (click)="progress()">
            <ion-label>In-progress</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="call" (click)="complete()">
            <ion-label>Completed</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </div>
  <ion-content *ngIf="item.length !=0">
    <ion-card *ngFor="let text of item">


      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float: right; background: none; border: none;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/truk-edit-page" (click)="SendData(text)">
          <mat-icon >edit</mat-icon>
          <span routerLink="/truk-edit-page" (click)="SendData(text)">Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>deactive</mat-icon>
          <span (click)="isactive(text)" [(ngModel)]="trukisActive">Deactive</span>
        </button>
        <button mat-menu-item>
          <mat-icon>more Details</mat-icon>.
          <span>More Detail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span (click)="deleteTruk(text._id)">Delete</span>
        </button>
      </mat-menu>

      <div style="text-align: center; margin-top: 10px;">
        <h1 style="margin-left: -236px;">{{text.trukisActive}}</h1>
        <img src="https://media.gettyimages.com/photos/empty-dump-truck-picture-id505895442" width="25%" height="25%"
          style="float: left;">
          
        <h1 style="margin-top: 28px;">{{text.trukvehiclenumber}}</h1>
        <p style="margin-top: -12px;">Posted On {{text.trukdate}} | Exprires in 48 Hours</p>
      </div>
      <hr>
      <div style="text-align: center; margin-top: -15px;">
        ................................................................</div>

      <ion-card-content style="text-align: center; margin-top: -11px;">
        {{text.trukcapacity}} Tons --{{text.trukname}} <br>
        Avaliable in {{text.trukcurrentLocation}} <br>
        {{text.trukoperatingRoutes.length}} Routes <br>
        <ion-button>View Bids</ion-button>
      </ion-card-content>


    </ion-card>
  

</ion-content>

<ion-content *ngIf="item.length ==0" class="noitem">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
    <h1>No truk vehicle!</h1>
  </div>
</ion-content>

<div class="center">
  <ion-button routerLink="/add-truck" class="bb" expand="full" shape="round">Add Trucks</ion-button>


</div> 



