<!-- <ion-header>
  <ion-toolbar>
    <div style="display: flex;">

      <ion-title>MY Truk Page</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="container">


  <div *ngIf="item.length !=0">
    <ion-card *ngFor="let text of item" style="border: 1px solid #F58E26; ">
      <ion-card-header>
        <ion-card-title>vehiclenumber:{{text.vehiclenumber}}</ion-card-title>
        <ion-card-subtitle>Posted On {{text.date}}</ion-card-subtitle>
      </ion-card-header>
       
      <ion-card-content>
        {{text.capacity}}Tons   {{text.data}}
      </ion-card-content>
      <ion-card-content>
         Avaiable in {{text.currentLocation}}
         <h1>{{text.selectedItems.length}}Routes</h1>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="item.length ==0">
    <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg"
      style="height: 70px; width: 70px;">
  </div>










</ion-content> -->

<!-- <div class="center">
  <ion-button routerLink="/add-trucks" class="bb" expand="full" shape="round">Add Trucks</ion-button>
</div> -->




<!-- <div *ngIf="item.length !=0">
  <ion-card *ngFor="let text of item" style="border: 1px solid #F58E26; ">
    <ion-card-header>
      <ion-card-title>vehiclenumber:{{text.vehiclenumber}}</ion-card-title>
      <ion-card-subtitle>Posted On {{text.date}}</ion-card-subtitle>
    </ion-card-header>
     
    <ion-card-content>
      {{text.capacity}}Tons   {{text.data}}
    </ion-card-content>
    <ion-card-content>
       Avaiable in {{text.currentLocation}}
       <h1>{{text.selectedItems.length}}Routes</h1>
    </ion-card-content>
  </ion-card>
</div>
<div *ngIf="item.length ==0">
  <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg"
    style="height: 70px; width: 70px;">
</div>
<br> -->
<ion-header>
  <ion-toolbar>
    MY Trucks
  </ion-toolbar>
</ion-header>
 
 
<ion-content>

  <div style="align-items: center; text-align: center;">
    <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg" width="50%" height="50%">
  </div>
  <ion-card>
    <ion-card-header>
       <!-- <ion-card-subtitle style="float: right;  font-size: 25px;"><ion-icon
        name="filter" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" ></ion-icon></ion-card-subtitle>  -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float: right;  background: none; border: none;">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon >Active</mat-icon>
            <span (click)="toggle('Active')">Active</span>
          </button>
          <button mat-menu-item>
            <mat-icon>Deactive</mat-icon>
            <span (click)="toggle('Deactive')">Deactive</span>
          </button>
        </mat-menu>
      <ion-card-subtitle>My Trucks</ion-card-subtitle>  
    </ion-card-header>
  </ion-card>

  <!-- <mat-card>
    <mat-card-content>My Trucks</mat-card-content>
    <mat-card-content style="float: right;"><ion-icon name="filter"></ion-icon></mat-card-content>
  </mat-card> -->

  
    <ion-card *ngFor="let text of item">


      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float: right; background: none; border: none;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/truk-edit-page" (click)="SendData(text)">
          <mat-icon >edit</mat-icon>
          <span routerLink="/truk-edit-page" (click)="SendData(text)">Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>deactive</mat-icon>
          <span (click)="isactive(text)" [(ngModel)]="isActive">Deactive</span>
        </button>
        <button mat-menu-item>
          <mat-icon>more Details</mat-icon>
          <span>More Detail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span (click)="deleteTruk(text._id)">Delete</span>
        </button>
      </mat-menu>

      <div style="text-align: center; margin-top: 10px;">
        <h1 style="margin-left: -236px;">{{text.isActive}}</h1>
        <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg" width="25%" height="25%"
          style="float: left;">
          
        <h1 style="margin-top: 28px;">{{text.vehiclenumber}}</h1>
        <p style="margin-top: -12px;">Posted On {{text.date}} | Exprires in 48 Hours</p>
      </div>
      <hr>
      <div style="text-align: center; margin-top: -15px;">
        ................................................................</div>

      <ion-card-content style="text-align: center; margin-top: -11px;">
        {{text.capacity}} Tons --{{text.data}} <br>
        Avaliable in {{text.currentLocation}} <br>
        {{text.operatingRoutes.length}} Routes <br>
        <ion-button>View Bids</ion-button>
      </ion-card-content>


    </ion-card>
  

</ion-content>

<div class="center">
  <ion-button routerLink="/add-truck" class="bb" expand="full" shape="round">Add Trucks</ion-button>
</div> 