

.bb{
    --background: #f58e26;
  }
  
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  
  
  .load{
    margin-left: 140px;
    float: right;
    display: inline;
  }
  
  .column {
    float: left;
    width: 47.33%;
    padding: 5px;
  }

  ion-segment-button{
    --background: #f58e26;
  color: black;
  
  }
  
  ion-segment{
   
    border-radius: 10px;
  
  }

  .noitem{
    text-align: center;
    color: #b2b2b2;
    img{
        width: 100px;
        margin-top: 50px;
    }
  }