<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab1" style="font-size: 30px;"></ion-icon>
      <ion-title>View Bid</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<br>
<ion-card-subtitle style="font-size:larger; font-weight: bold; margin-right: 10px;">My Bids :</ion-card-subtitle>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Expected Price:</ion-card-subtitle>
      <ion-card-title>₹ {{bids.expectedPrice}} -/</ion-card-title>
      <p>-----------------------------------------------------------------------</p>
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: larger; font-weight: bolder; ">{{bids.OriginLocation}} -- {{bids.DestinationLocation}}
      </p>
      <p style="font-size: large; font-weight: bold; "> {{bids.data}} -- {{bids.Quantity}} Tons</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bid">

    <ion-card-header>

      <ion-card-subtitle style="font-size:larger; font-weight: bold; color: white;">Bids</ion-card-subtitle>

    </ion-card-header>
  </ion-card>
  <br>

  <!--  <ion-card *ngFor="let text of bids.bids">

    <ion-chip style="float: right;">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Driver</ion-label>
    </ion-chip>

    <ion-card-subtitle>Their new Price:</ion-card-subtitle>

    <ion-card-title>₹ {{text.tentativefinalPrice}} -/</ion-card-title>
    <br>
    <ion-button fill="clear" style="float: right; color: green;">Accept</ion-button>
    <ion-button fill="clear" style="float: right; color: grey; " shape="round">Negotiate</ion-button>
  </ion-card> -->

  <ion-grid>
    <ion-row *ngFor="let text of bidActivity">

      <!-- <ion-col size="9" *ngIf="text.userType!== currentUserType" class="message other-message">

        <b text-left>{{text.userType}}</b><br>
        <b text-left>{{text.price}}</b><br>



         <div class="time" text-right><br>
          {{text.time | date:'short' }}
        </div> 

      </ion-col> -->

       <ion-col size="9" offset="3" *ngIf="text.userType==currentUserType" class="message my-message">

       

        <b text-left>{{text.userType}}</b><br>
        <b text-left>{{text.price}}</b><br>
      </ion-col> 
   


    <!-- <ion-row *ngFor="let text of bidActivity"> -->

      <ion-col size="9" *ngIf="text.userType!== currentUserType" class="message other-message">
<div *ngIf="text.initialAccept === 'Accepted'">
      <h3>Bid accepted for : {{text.price}}</h3>
    </div>
    <div [hidden]="text.initialAccept === 'Accepted'" >
      <b>{{text.userType}}::</b><br>
      <span>{{text.price}}</span><br>
      <b>PHno -{{text.userNo}}</b>
      <div class="time" text-right><br>
        {{text.time | date:'short'}}
      </div>
    </div>
      <!--   <b>{{text.userType}}::</b><br>
        <span>{{text.price}}</span><br>
        <b>PHno -{{text.userNo}}</b>
        <div class="time" text-right><br>
          {{text.time | date:'short'}}
        </div>


         <div class="time" text-right><br>
          <!-- {{text.time | date:'short' }}
        </div>  -->

      </ion-col>

       <!-- <ion-col size="9" offset="3" *ngIf="text.userType==currentUserType" class="message my-message">

        <b>{{text.userType}}::</b><br>
        <span>{{text.price}}</span><br>
        <b>PHno -{{text.userNo}}</b>
        <div class="time" text-right><br>
          {{text.time | date:'short'}}
        </div>

      </ion-col>  -->
    </ion-row>

    <!-- </ion-row> -->
  </ion-grid>

  <!--<ion-card color="success">
    <div align="center">
    
    Your bid has been accepted by the Agent/Broker/Transporter for:{{bidActivityprice}}
    </div>
    </ion-card>-->

   

      <ion-card  color="success" *ngIf="finalAgentAccept == true">
        <div align="center">
        
        agent/transporter/fleet accepted bid  for:{{goinsidetenprice}}
        </div>
        </ion-card>
        <ion-card  color="success" *ngIf="goinsidebids == true">
          <div align="center">
          
          You approved for:{{goinsidetenprice}}
          </div>
          </ion-card>

      <div *ngIf="goinsidebids == true" align="center" style="margin-top:150px;">
        <ion-button  shape="round" class="next">PAY NOW</ion-button>
        </div>

</ion-content>

<div [hidden]="goinsidebids == true">
<ion-button fill="clear" style="float: right; color: green;" (click)="acceptBid()">Accept</ion-button>
<ion-button id="open-modal" shape="round" class="next">Negotiate</ion-button>
</div>

<ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <!-- <div class="ion-margin-top">
      <ion-label>
        <ion-item fill="outline">
          <ion-label position="floating">Your Bidding price</ion-label>
          <ion-input placeholder="Enter new Price"[(ngModel)]="bidPrice"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="full" class="next" shape="round" (click)="placeBid(bidPrice)">Negotiate</ion-button>
      </ion-label>
    </div> -->

      <ion-toolbar color="light">
        <ion-row>
          <ion-col size="10">
            <textarea autosize maxRowx="3" [(ngModel)]="NegoPrice" class="input">

          </textarea>

          </ion-col>

          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="NegoPrice === '' " class="msg-btn"
              (click)="negotiate()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>


    </ion-content>
  </ng-template>
</ion-modal>