<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
    <ion-title>TrukMoreDetails</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
  <h2 style="text-align: center; color: #F58E26;">Truk More Details</h2>
  <ion-card class="card">
    <img
      src="https://img.freepik.com/premium-vector/delivery-truck-with-many-box-flat-cartoon-illustration_133260-794.jpg" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <div class="container">
      <h5>Vechile Number          :{{moreDetails.trukvehiclenumber}}</h5>
      <h5>Current Vehile Location :{{moreDetails.trukcurrentLocation}}</h5>
      <h5>Truk Posted Date        :{{moreDetails.trukdate}}</h5>
      <h5>Tuck Routes             :{{moreDetails.trukoperatingRoutes}}</h5>
      <h5>Truk Type               :{{moreDetails.trukname}}</h5>
      <h5>Truk Capacity           :{{moreDetails.trukcapacity}}</h5>
      
      <p>------------------------------------------------------------------</p>
    </div>
    
    <ion-card-content>
     check your truk details carefully
    </ion-card-content>
  </ion-card>

</ion-content>
