<ion-header>
  <ion-toolbar>
    <div style="display: flex; ">
      <ion-icon name="arrow-back-sharp" (click)="route()" style="font-size: 30px;"></ion-icon>
      <ion-title align="center"> Get Started</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="circle-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>


<div class="boby">
  <ion-slides pager="true" [options]="slideOpts" *ngIf="bannerImages && bannerImages.length">
    <ion-slide *ngFor="let image of bannerImages">  
      <div style="display: inline-block;">
      <div>
        <img class="banner-image" [src]="image?.imgurl"/>
      </div>
      <div class="contanier">
        <h1 style="text-align:center;">{{image.live}}</h1>
        <p style=" text-align:center;padding:8px;">{{image.data}}</p>
      </div>
      </div>
    </ion-slide>
  </ion-slides>
</div>

</ion-content>
<ion-button class="get" expand="full"  routerLink="/loginotp">Get Strated   <ion-icon name="arrow-forward-outline"></ion-icon> </ion-button>