<ion-header>
  <ion-toolbar>
  
    <ion-title align="center" >
      
      <!--<ion-icon name="arrow-back-outline" routerLink="/verifyotp"></ion-icon>-->
  
      SignUp/Login
  
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="bg">
    <!--<ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="white" routerLink="/login" color="dark">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
  </div>
  <ion-list lines="none" class="ion-margin">
    <!--<ion-list-header>WELCOME !</ion-list-header>
    <h3>Sign Up Page</h3>-->
    <form #userPost="ngForm" [formGroup]="signupForm" >
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter userName" type="text" clearInput="true" formControlName="userName"></ion-input>
    </ion-item>
    <!--<ion-item class="ion-margin">
      <ion-input placeholder="Enter LastName" type="text" clearInput="true" formControlName="lastName"></ion-input>
    </ion-item>-->
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter MobileNumber" type="number" clearInput="true" formControlName="mobileNo"></ion-input>
    </ion-item>
    
  
      <ion-button shape="round" expand="full" strong="true" type="submit" [disabled]="userPost.invalid" (click)="onSubmit(userPost.value)" >
        SIGN UP
        <!--<ion-icon name="log-in" slot="end"></ion-icon>-->
      </ion-button>
    
    </form>
  </ion-list>
</ion-content>
