

<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/selecttype" style="font-size: 30px;"></ion-icon>
      <ion-title align="center"> SignUp/Login</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="circle-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>

  <div align="center" style="margin-top: 4rem;">
    <h2>Registering As:</h2>
  </div>
  <ion-segment>

    <ion-button class="company">Company</ion-button>

  </ion-segment>
  <ion-list lines="none" class="ion-margin">
    <!--<ion-list-header>WELCOME !</ion-list-header>
    <h3>Sign Up Page</h3>-->
    <form #userPost="ngForm" [formGroup]="signupForm" >
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter FirstName" type="text" clearInput="true" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter LastName" type="text" clearInput="true" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter City" type="text" clearInput="true" formControlName="city"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter companyName" type="text" clearInput="true" formControlName="companyName"></ion-input>
    </ion-item>
  
   
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter MobileNumber" type="number" clearInput="true" formControlName="mobileNo"></ion-input>
    </ion-item>

    <ion-item [hidden]="role === 'Shipper'">
      <ion-select placeholder="Select Your Routes" [multiple]="true"  formControlName="routes">
        <ion-select-option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</ion-select-option>
        <ion-select-option value="Andhra Pradesh">Andhra Pradesh</ion-select-option>
        <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
        <ion-select-option value="Assam">Assam</ion-select-option>
        <ion-select-option value="Bihar">Bihar</ion-select-option>
        <ion-select-option value="Chandigarh">Chandigarh</ion-select-option>
        <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
        <ion-select-option value="Dadra Nagar Haveli and Daman Diu">Dadra Nagar Haveli and Daman Diu</ion-select-option>
        <ion-select-option value="Goa">Goa</ion-select-option>
        <ion-select-option value="Gujarat">Gujarat</ion-select-option>
        <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
        <ion-select-option value="Jammu and Kashmir">Jammu and Kashmir</ion-select-option>
        <ion-select-option value="Jharkhand">Jharkhand</ion-select-option>
        <ion-select-option value="Karnataka">Karnataka</ion-select-option>
        <ion-select-option value="Kerala">Kerala</ion-select-option>
        <ion-select-option value="Lakshadweep">Lakshadweep</ion-select-option>
        <ion-select-option value="Ladakh">Ladakh</ion-select-option>
        <ion-select-option value="Madhya Pradesh">Madhya Pradesh</ion-select-option>
        <ion-select-option value="Maharashtra">Maharashtra</ion-select-option>
        <ion-select-option value="Manipur">Manipur</ion-select-option>
        <ion-select-option value="Meghalaya">Meghalaya</ion-select-option>
        <ion-select-option value="Mizoram">Mizoram</ion-select-option>
        <ion-select-option value="Nagaland">Nagaland</ion-select-option>
        <ion-select-option value="National Capital Territory (Delhi)">National Capital Territory (Delhi)</ion-select-option>
        <ion-select-option value="Odisha">Odisha</ion-select-option>
        <ion-select-option value="Puducherry">Puducherry</ion-select-option>
        <ion-select-option value="Punjab">Punjab</ion-select-option>
        <ion-select-option value="Rajasthan">Rajasthan</ion-select-option>
        <ion-select-option value="Tamil Nadu">Tamil Nadu</ion-select-option>
        <ion-select-option value="Telangana">Telangana</ion-select-option>
        <ion-select-option value="Tripura">Tripura</ion-select-option>
        <ion-select-option value="Uttar Pradesh">Uttar Pradesh</ion-select-option>
        <ion-select-option value="Uttarakhand">Uttarakhand</ion-select-option>
        <ion-select-option value="West Bengal">West Bengal</ion-select-option>
     
      </ion-select>
    </ion-item>
  <br>
    <ion-item >
      <ion-textarea
        placeholder="Tell us About Your Company" [(ngModel)]="aboutCompany"
        [clearOnEdit]="true" formControlName="aboutCompany"></ion-textarea>
        </ion-item>
    
    
  
      <ion-button style="height: 50px;   border-radius: 10px; margin-top:20px;" expand="full" strong="true" type="submit"   [hidden]="role === 'Shipper'" [disabled]="signupForm.value.mobileNo === ''"  [disabled]="signupForm.value.firstName === ''" [disabled]="signupForm.value.lastName === ''" [disabled]="signupForm.value.city === ''" [disabled]="signupForm.value.companyName === ''" [disabled]="signupForm.value.routes === ''" [disabled]="signupForm.value.aboutCompany === ''" (click)="onSubmit(userPost.value)" >
        SIGN UP
        <!--<ion-icon name="log-in" slot="end"></ion-icon>-->
      </ion-button>

      <ion-button style="height: 50px;   border-radius: 10px;margin-top:20px;" expand="full"  type="submit" [disabled]="signupForm.value.mobileNo === ''" *ngIf="role === 'Shipper'" [disabled]="signupForm.value.firstName === ''" [disabled]="signupForm.value.lastName === ''" [disabled]="signupForm.value.city === ''" [disabled]="signupForm.value.companyName === ''" [disabled]="signupForm.value.aboutCompany === ''" (click)="onSubmit(userPost.value)" >
        SIGN UP
        <!--<ion-icon name="log-in" slot="end"></ion-icon>-->
      </ion-button>
  
    </form>
  </ion-list>
</ion-content>
