#bg {
    height: 30%;
    width: auto;
    background: var(--ion-color-dark) url('https://thumbs.dreamstime.com/b/yellow-fire-truck-208470.jpg') no-repeat center center/cover;
    border-radius: 0 0 45% 45%;
    margin-left: -21vw;
    position: relative;
}
/* ion-fab {

    ion-icon {
        font-size: 2.5rem;
    }
} */

ion-list {
    margin-top: 1vh;
    ion-list-header {
        font-weight: 1000;
        font-size: 1.5rem;
    }
    ion-item {
        border: 1px solid var(--ion-color-light);
        border-radius: 20px;
        -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    }
    p {
        font-size: 0.8rem;
        padding-left: 5vw;
    }
}

h3 {
    color: #4e5358;
    font-weight: 600;
display: flex;
justify-content: center;
  }
  ion-button{
    --background:#f58e26;
    margin-top: 60px;
    height: 40px;
  }

  
.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .circle {
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .circle-1 {
  
    position: absolute;
    left: -23.42%;
    right: 75.35%;
    top: -2.04%;
    bottom: 80.47%;
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
  }
  
  .circle-2 {
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
    position: absolute;
    left: -2%;
    right: 50.93%;
    top: -11.48%;
    bottom: 86.91%;
  }
  .company{
    --background: #f58e26;
  }
  ion-segment{
    margin-top: -50px;
  }