/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  .card{
    border-color:#F58E26 ;
  }

  .container{
    margin-right: 10px;
  }