ion-content {
    ion-list {
        padding-bottom: 50px;
        ion-segment {
            --background: var(--ion-color-primary-contrast);
            border-radius: 20px;
            border: 1px solid lightgray;
            --margin-top: 5px;
            --margin-bottom: 5px;
            margin-right:10px;
            ion-segment-button {
                transition: 0.9s;
                --background-checked: #f58e26;
                --indicator-color: #f58e26;
                --border-radius: 20px;
                --color: black;
                --color-checked: var(--ion-color-primary-contrast);
                
            }
        }
    }
}
.marginBottom {
    margin-bottom: 5vh;
    display: flex;
    
}