<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->





<div class="container">
  <img src="https://img.freepik.com/free-vector/hand-drawn-transport-truck_23-2149145940.jpg"
    style="align-items: center; text-align: center;">

  <br>
  <H5 style="font-weight: bold;">Loads :</H5>

  <br>

  <div *ngIf="item.length !=0">
    <ion-card *ngFor="let text of item" style="border: 2px solid #F58E26; ">
      <ion-card-header>
        <ion-card-title>{{text.OriginLocation}} -- {{text.DestinationLocation}}</ion-card-title>
        <ion-card-subtitle>Posted On {{text.date}} |Expires in 24hrs</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        {{text.product}}
      </ion-card-content>

      <ion-card-content>
        {{text.data}} -- {{text.Quantity}}
      </ion-card-content>
      <ion-card-title style="float: right; margin-top: -53px;">₹ {{text.expectedPrice}}</ion-card-title>
    </ion-card>
  </div>
  <div *ngIf="item.length ==0">
    <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg"
      style="height: 70px; width: 70px;">
  </div>
  <br>
  <h3 align="center">Post load to book live loads and use directory</h3>
  <br>
</div>