* {
    margin: 0;
    padding: 0;
  
  }
  
  h1 {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    color: #939fab;
    font-weight: 600;
  }
  
  form {
    margin-top: 6rem;
  
    ion-button {
      display: block;
      margin-top: 3rem;
    }
  }
  .btn{
    background: #f58e26;
    height:50px ;
  }
  .genotp{
    
    margin-top: 130px;
    
  }
.header{
    background: #f58e26;
}
img{
 
    width: 250px;
    height: 130px;
  

}

ion-item {
  border: 1px solid var(--ion-color-light);
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  box-shadow: 0 6px 4px -4px var(--ion-color-medium);
}
