

<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" (click)="gototype()" style="font-size: 30px;"></ion-icon>
      <ion-title align="center"> SignUp/Login</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h1>Welcome,</h1>
  <h3>Enter mobile number to continue!</h3>

  <div>
    <ion-img src="assets/trucklogo.jpeg"></ion-img>
   </div>
  <form>
    &nbsp;&nbsp;<ion-label>Enter Your Mobile Number</ion-label><br>
   
    <ion-item class="ion-margin">
      <ion-input  type="number"   clearInput="true" placeholder="Enter Mobile Number" [(ngModel)]="phoneNumber" min="10" [ngModelOptions]="{standalone: true}" pattern="^((\\+91-?)|0)?[0-9]{10}$"></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left: 38px;"> Don't have an Account ? <span (click)="route()" style="font-size: 20px;color:rgb(245, 129, 75);"><u>Signup</u></span></ion-label>
  
    
  
<div class="genotp">
    <ion-button class="btn" color="#a13cd7;" [disabled]="phoneNumber == null"  (click)="getOTP()">Generate OTP</ion-button>
    </div>
    <div id="sign-in-button"></div>
    



    
  </form>

  
  <!--<div class="spinner" *ngIf="!spin" style="size: 1;">
    <ion-spinner name="bubbles"></ion-spinner>
    </div>-->
</ion-content>



<!---->

