ion-card{
    padding-bottom: 10px;
    border: 1px solid var(--ion-color-light);
        border-radius: 20px;
        -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    ion-card-header{
       height: 80px;
        ion-card-title{
            float: right;
            border: 2px solid #f58e26;
            background-color:#f58e26;
            padding: 5px;
            animation-name: edit;
            animation-duration:4s;
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            border-radius: 9px;

            @keyframes edit {
                from {background-color:#f58e26;}
                to {background-color: rgb(42, 26, 26);}
            }
        }

    }

    ion-card-content{
    
        img{
      
           
            width: 110px;
            height: 110px;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-top: -30px;
        }
    }
}
h2{
    color: black;
    white-space: nowrap;
}
h3{
    padding: 5px 0px 0px 0px;
}
.main{
    display: flex;
    
}
.profiledetails{
    width: 210px;
    
    margin-top: 17px;


}

.kyc{

padding-left: 19px;
}
.adharimage{
    margin-top: 17px;
    width: 130px;
    height: 100px;
    padding-left: 3px;
}
.addaddress{
    float: right;
    margin-top: 50px;
    padding-right: 10px;
    
}
ion-item {
    border: 1px solid var(--ion-color-light);
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    box-shadow: 0 6px 4px -4px var(--ion-color-medium);
}
.sai{
    display:block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;

}
ion-label{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    font-size: 19px;
font-weight: bold;
padding-top: 8px;
}
ion-button{
    --background:#f58e26;
    margin-top: 60px;
    height: 40px;
  }

  .address-card {
    font-size: 20px;
    font-weight: bold;
    text-align: left;

    color: black;
    display: flex;

    
  }
  p{
    font-weight: 20px;
    color: black;
 }