<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab1" style="font-size: 30px;"></ion-icon>
      <ion-title>Profile</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
  <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Refreshing..">

  </ion-refresher-content>
</ion-refresher>


<!--Add Routes Model-->

  <!--Add Routes Model-->
 <!-- <ion-modal #modal trigger="addroutes" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]" style="--border-radius: 17px 17px 0px 0px;">
    <ng-template>
      <ion-content>
      
        
          <div class="sa1i">
         
          </div>
        
          <ion-card-content>
            <div>
              <ng-multiselect-dropdown [placeholder]="'Add Your Vechile Routes (States)'" [settings]="dropdownSettings"
                [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)" style="padding: 11px; border-radius:10px;">
              </ng-multiselect-dropdown>
            </div>
          </ion-card-content>
        
  
        <ion-button shape="round" expand="full" strong="true" (click)="addroutes()" >
          Add Routes
        
        </ion-button>
        
      </ion-content>
    </ng-template>
  </ion-modal>-->
<!--End of Add Routes-->




<!--two-->



<ion-card>
  <ion-card-header>
    <ion-card-title (click)="passData()">Edit Profile</ion-card-title>
   
  </ion-card-header>

  <ion-card-content style="display: flex;
  justify-content: center;
  align-items: center;"  >
    
    <img src="https://th.bing.com/th/id/OIP.XSZAFm-5JI7nriDLwZqRQQHaE7?w=303&h=201&c=7&r=0&o=5&dpr=1.3&pid=1.7">
  
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
  <div class="main">
  <div class="profiledetails">
 <h2><strong>{{logindata.firstName}} {{logindata.lastName}}</strong></h2>
 <h3>{{logindata.role}}</h3>
 <h3>{{logindata.city}}</h3>
    </div>

    <div class="kyc">
    <h2 *ngIf="routes.aadharVerify === 'notVerified'" style="border: 2px solid red; color:red; padding:4px; border-radius:8px;" >KYC Pending</h2>
    <h2 *ngIf="routes.aadharVerify === 'Verified'" style="border: 2px solid green; color:green; padding:4px; border-radius:8px;">KYC Verified</h2>
    <br>
    <!--<h2 style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:4px; border-radius:8px;"> Add Company Bio </h2>-->
    </div>
  </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <!--<div class="spinner" *ngIf="spin" style="size: 1;">
    <ion-spinner name="bubbles"></ion-spinner>
    </div>-->

  <div class="main">
    <div class="adharimage">
  <img src="https://th.bing.com/th/id/OIP.sEv9ZNvx2tN1Kdy8ZKprGQHaEw?w=266&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
      </div>

      <div class="verifybutton" *ngIf="routes.aadharVerify == 'notVerified'">
      <h3 style=" margin-left:20px; padding-top:20px;" >Verify Aadhar</h3>
      <button style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:100px; margin-left:35px; margin-bottom:15px;"  id="open-aadhar" >Verify </button>

      <ion-modal #modal trigger="open-aadhar" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]" >
        <ng-template>
          <ion-content>
          
            <ion-card>
              <div class="sai">
              <img  alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.sEv9ZNvx2tN1Kdy8ZKprGQHaEw?w=266&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" />
              </div>
            
              <ion-card-content>
                <ion-label> AadharNumber</ion-label>
                <ion-item class="ion-margin">
                  <ion-input placeholder="Enter Aadhar" type="text" clearInput="true" [(ngModel)]="AadharNumber" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>
      
            <ion-button shape="round" expand="full" strong="true" type="submit" (click)="verifyAadhar()"  id="open-custom-dialog">
              Get OTP
              <!--<ion-icon name="log-in" slot="end"></ion-icon>-->
            </ion-button>
            
          </ion-content>
        </ng-template>
      </ion-modal>
      </div>

      <div class="verifybutton" *ngIf="routes.aadharVerify == 'Verified'">
        <h3 style=" margin-left:20px; padding-top:20px; color:green;"  > Aaadhar Verified</h3>
        
        </div>

    </div>
</ion-card>

<ion-card  [hidden]="boss">
  <div class="main">
    <div class="adharimage">
  <img src="https://th.bing.com/th?id=OIP.X4oVrLFlzrIGElXusF8p1wHaEV&w=326&h=191&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
      </div>

      <div class="verifybutton" *ngIf="routes.gstVerify == 'notVerified'">
      <h3 style=" margin-left:20px; padding-top:20px;" >Verify GSTIN</h3>
      <button style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:100px; margin-left:35px; margin-bottom:15px;" id="open-gst">Verify </button>
      <ion-modal #modal trigger="open-gst" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]" >
        <ng-template>
          <ion-content>
          
            <ion-card>
              <div class="sai">
              <img  alt="Silhouette of mountains" src="https://th.bing.com/th?id=OIP.X4oVrLFlzrIGElXusF8p1wHaEV&w=326&h=191&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
              </div>
            
              <ion-card-content>
                <ion-label> GST Number</ion-label>
                <ion-item class="ion-margin">
                  <ion-input placeholder="Enter GST Number" type="text" clearInput="true"  [(ngModel)]="gstinNumber"  [ngModelOptions]="{standalone: true}" ></ion-input>
                </ion-item>
      
                <ion-label>UserName</ion-label>
                <ion-item class="ion-margin">
                  <ion-input placeholder="Enter UserName" type="text" clearInput="true"  [(ngModel)]="userName"  [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>
      
            <ion-button shape="round" expand="full" strong="true" type="submit" (click)="verifygstin()" >
              Get OTP
              <!--<ion-icon name="log-in" slot="end"></ion-icon>-->
            </ion-button>
            
          </ion-content>
        </ng-template>
      </ion-modal>
      </div>


      <div class="verifybutton" *ngIf="routes.gstVerify == 'Verified'">
        <h3 style=" margin-left:20px; padding-top:20px;" > GSTIN Verified</h3>
        
        </div>
    </div>
</ion-card>

<ion-card style="height: 130px;"  *ngIf="!routes.addressType">
      <div class="addaddress">
      
      <button style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:130px;  " routerLink="/addaddress">+ Add Address </button>
      </div>
    
</ion-card>


<ion-card  *ngIf="routes.addressType">
  <div style="  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; font-size:22px; font-weight: 600px; color:black; padding:5px;">
    Address Details
  </div>
    
  
  <ion-card-content>
    <div class="address-card">
      <div>
      <p>Address Type</p>
      <p>Door No/Building No</p>
      <p>Street/Area</p>
      <p>LandMark</p>
      <p>City</p>
      <P>Pincode</P>
      </div>
      <div style="padding-left: 10pxpx; padding-right:10px;">
        <p>:</p>
        <p>:</p>
        <p>:</p>
        <p>:</p>
        <p>:</p>
        <p>:</p>
      </div>

      <div *ngFor="let addressdetails of addressdetail">
        <p>{{addressdetails.addressType}}</p>
        <p>{{addressdetails.doorNo}}</p>
        <p>{{addressdetails.areaName}}</p>
        <p>{{addressdetails.landMark}}</p>
        <p>{{addressdetails.city}}</p>
        <p>{{addressdetails.pincode}}</p>
        </div>
    </div>
  </ion-card-content>
</ion-card>


<ion-card style="height: 130px;" [hidden]="logindata.role == 'Shipper'" *ngIf="!routes.routes">

  <div class="addaddress">
    <button style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:130px; " id="open-addroutes"  >Add Routes </button>
 
  </div>

  <ion-modal #modal trigger="open-addroutes" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]" >
    <ng-template>
      <ion-content>
      
        
          <div class="sa1i">
         
          </div>
        
          <ion-card-content>
            <div>
              <ng-multiselect-dropdown [placeholder]="'Add Your Vechile Routes (States)'" [settings]="dropdownSettings"
                [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)" style="padding: 11px; border-radius:10px;">
              </ng-multiselect-dropdown>
            </div>
          </ion-card-content>
        
  
        <ion-button shape="round" expand="full" strong="true" (click)="addroutes()" >
          Add Routes
          
        </ion-button>
        
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-card>

<ion-card  [hidden]="logindata.role == 'Shipper' " *ngIf="routes.routes">
  <div style=" align-content:center;
  margin-left: auto;
  margin-right: auto;
  width: 55%; font-size:22px; font-weight: 600px; color:black; padding:5px;">
    Available Routes
  </div>

  <div>
  <!--<span id="open-routes" style="float:right; border:2px solid orange; padding:6px;border-radius:9px;">Add Routes</span>-->
  <!--<button  style=" float:right; border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:130px;"  id="open-route">Add Routes </button>-->
  </div>
  <ion-modal #modal trigger="open-route" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]" >
    <ng-template>
      <ion-content>
      
        
          <div class="sa1i">
         
          </div>
        
          <ion-card-content>
            <div>
              <ng-multiselect-dropdown [placeholder]="'Add Your Vechile Routes (States)'" [settings]="dropdownSettings"
                [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)" style="padding: 11px; border-radius:10px;">
              </ng-multiselect-dropdown>
            </div>
          </ion-card-content>
        
  
        <ion-button shape="round" expand="full" strong="true" (click)="addroutes()" >
          Add Routes
          
        </ion-button>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  
<ion-card-content  >
  <span style="color:black;" *ngFor="let rou of passdata.routes; index as i">
    
      {{rou}},</span>
</ion-card-content>
</ion-card>



<!--<ion-card style="height: 130px;">

  <div class="addaddress">
  
  <button style="border: 2px solid rgb(20, 19, 19); color:rgb(15, 15, 15); padding:8px; border-radius:8px; width:130px;  ">+ Add FAQ </button>
  </div>

</ion-card>-->
</ion-content>



 

