
    span{
        float:right;

        margin-top: 13px;
        border: 2px solid red;
        color: red;
        padding: 6px;
        border-radius: 9px;
        margin-right: 4px;
    }


.lower-box{
    margin-bottom: 13px;
    font-family: sans-serif;
    .wrapper{
        max-width: 731px;
        border: none;
        display: flex;
        overflow-x: auto;
        margin-left: 10px;
    }
    .item{
        min-width: 90px;
        height: 90px;
    
        margin-right: 10px;
        
        box-shadow:0  2.8px 2.2px rgba(0,0,0,0.034),
        0 6.7px 5.3px rgba(0,0,0,0.034),
        0 12.5px 10px rgba(0,0,0,0.06) ,
        0 22.3px 17.9px rgba(0,0,0,0.072),
        0 41.8px 33.4px rgba(0,0,0,0.086),
        0 100px 80px rgba(0,0,0,0.12);


        border: 1px solid rgb(251, 251, 250);
        border-radius: 17px;
       
    }
}
.count{
    position: relative;
    margin-top: 20px;
    margin-left: 26px;
}
.loadss{
    
    padding-left: 8px;
    margin-top: -8px;
    font-size: 12px;
}

ion-title {
    font-weight: 600;
}
ion-slides{
    ion-slide{
        ion-card{
            height: 140px;
        }
    }
}

/*ion-card {
  
    
    img {
        object-fit: cover;
        width: 50%;
        height: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}*/

/*.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}*/

.about{
    width: 200px;
    height: 60px;
    border-radius: 9px;
    border: 2px solid green;
    display: flex;
}
.aboutimage{
    width: 100px;
    height: 50px;
    //border: 2px solid red;
    margin-right: 14px;
}
ion-button{
    
    --background: orange;
    --border-radius: 12px;
}