<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title style="text-align:center;">Disclaimer</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center; color: #F58E26;">Disclaimer</h1>

  <div class="container">


    TrukApp (Registered as Enforti Global Logistics Private Limited) is designed to provide all the users a wonderful
    in-app browsing experience through role specific user flows. TrukApp is a one stop solution which provides a search 
    discovery  marketplace for the Shippers, Transporters, Agents and Fleet Owners. The Parties are entitled to mutually
    decide upon the terms and conditions of the engagement including the Fare amount based on the mode of payment they
    align upon while creating any booking.<br>

    TrukApp is not responsible or liable for the accuracy of the information provided by any party on the platform and
    cannot be responsible in any manner for any damage, loss/damage to the Load, delay or any kind of deficiency in the
    service of the Transporter/Agent/Fleet-Owner (Here on referred as single entity i.e. Truck Provider) or the
    non-payment of Fare by the Shipper or any counterparty. No claim shall be entertained in this regard by TrukApp,
    including any charge back request that is raised before or after the order placement.<br>

    You are entering into this arrangement at your own discretion and you are entirely responsible for carrying out
    verification of the credibility of the counterparty in this regard though Trukapp always strives to enhance your
    trust on the platform.<br>

    In case of any concerns or clarifications needed, please refer to the Payment Guideliness <br>


    <h2>Payment Guidelines For Shippers:</h2>

The guidelines provided below are non-negotiable and shall be deemed to have been accepted, wherein the Shipper is availing services on TrukApp<br>

1.The Fare which the Shipper shall be paying to the Truck Provider, should be made after the Shipper is assured of the authenticity of the Truck Provider and its ability to execute the delivery of the Load and understands that TrukApp gives no warranty or assurance about the genuineness or merchantability of the services offered by the Truck Provider nor vouches for the credibility of the Truck Provider<br>
2.TrukApp is not responsible anyway or has no control over the quality of services of the Truck Provider and other material aspects thereof<br>
3.The Fare to be arrived at by and between the Truck Provider and the Shipper mutually on TrukApp and that TrukApp has no actual/perceived control or influence over the Truck Provider<br>
4.In respect of any dispute arising out of the transactions undertaken between the Shipper and the Truck Provider, TrukApp has no responsibility or liability.<br>
5.TrukApp is not liable in any respect towards the Shipper for the payment of Fare to the Truck Provider nor for any charge back requests. It is the sole responsibility of the Shipper to verify, check and cross check documents and other bona-fides of the Truck Provider before handing over the Load and/or making any payment.<br>
6.TrukApp is not liable for any fraudulent transactions, misrepresentation or suppression of facts by the Truck Provider. The role of TrukApp is limited to providing a platform where Shippers interact, engage with and avail services of Truck Providers.<br>
7.It is the sole responsibility of Shipper to ensure the Fare so paid by it constitutes the payment in full for receipt of services of the Truck Provider and TrukApp shall not be liable at any time, for reimbursing or paying any out-of-pocket expenses for or on behalf of the Truck Provider.<br>
8.By agreeing to use TrukApp online payments(TrukApp Assured) for payment of Fare, the Shipper understands that TrukApp Payments is only to enable peer-to-peer payments, but the responsibility to negotiate and carry out checks lies with the Shipper.<br>
9.In the event of any sale of service by service provider is subject to any goods and services tax, responsibility for the collection and remittance of that tax for such sales will be determined in accordance with applicability of respective law. For the sake of clarity, TrukApp shall not be responsible for the collection and remittance of taxes. Service provider shall indemnify and hold TrukApp harmless against any and all claims by any tax authority for any underpayment of any goods and service tax as applicable and any penalties and/or interest thereon.<br>
10.In case if answer to above mentioned question are affirmative, Good & Service tax will not be applicable on sale of Service and TrukApp will not be responsible for collecting and remitting any Goods and Service tax on sale of service on behalf of service provider:<br>

>>Taxable Turnover of Service Provider is < 20 Lakhs

>>If Service provider is registered as GTA - It has not obtained GST registration and taxable turnover is < 20 Lakhs<br>

<h2>Frequently Asked Questions - Shipper:</h2>

<h6>Suggestions on When and how to make the payment to the Truck Provider?</h6>

It is suggested that the payment to be made for transporting the Load can be split into two parts. Wherein one part is to be paid at the time of handing over the Load to the Truck Provider at the point of loading and the remaining part of the payment to be cleared only after the Load has been delivered/handed over to the point of contact at the unloading point.<br>

There is no fixed ratio in which the payment is to be split. The parties have liberty to decide the terms and conditions mutually, factoring in their convenience.<br>

<h2>What are the relevant documents that the Shipper should check before handing over the Load to the Truck Provider?</h2>

It is recommended that you should insist on receiving the following from the Truck Provider:<br>

Registration certificate of the vehicle.<br>
Aadhar card and other photo ID proofs of the Truck Provider.<br>
Insurance of the vehicle.<br>
Permits of the vehicle.<br>
Fitness certificate of the vehicle.<br>
Any other document that you may deem fit to be ensure of the authenticity and genuineness of the Truck Provider<br>

In addition to receiving documents mentioned above, the Shipper should receive a loading slip and a weight slip from the Truck Provider. For the avoidance of doubt, it is hereby clarified that the documents as listed above are not exhaustive and may differ from industry to industry.<br>

<h2>At the point of loading, what are the documents that the Shipper should provide the Truck Provider?</h2>

It is strongly recommended that as a matter of good industry practice, you should provide the following to the Truck Provider:?<br>

Lorry Receipt, commonly known as bilti that should mention details extracted from material invoice and weight slip.<br>

Material Invoice pertaining to the Load being transported.<br>

Any specific and/or general instructions in writing about how, when the Load is to be transported, loaded and unloaded.<br>

Any other document that you believe is required for transporting the Load and which the Truck Provider may be asked/called upon to produce by the concerned authorities, in respect of the Load.<br>

If after receiving the documents, you have a reason to believe there exists some discrepancy in the details, particulars in the documents furnished by the Truck Provider and/or you are not assured about the Truck Provider has the ability to deliver the Load, then you should refuse to provide the handover of the Load.<br>

<h4>At the time of unloading, what are the things to do and things to lookout for, before making the remaining payment to the Truck Provider?</h4>

Check whether the vehicle has reached the correct point of unloading as per the details mentioned in the bilti/lorry receipt.<br>

Check whether the Load being unloaded matches the description in the bilti/lorry receipt and other documents.<br>

Check for any physical damage to the Load.<br>

After ensuring the delivery, you should make payment of Fare in full, unless otherwise agreed by and between you and the Truck Provider.<br>

Provide a proof of delivery to the Truck Provider which should be duly signed by the authorised person at the point of unloading, wherein such proof should mention all material particulars, including but not limited to date and time of unloading and any reference to the condition in which the Load has been delivered in.<br>

<h2>What is the recommended way to make the payment?</h2>

The ideal way to make the payment is to use TrukApp Payments which is available on the TrukApp platform. TrukApp payments is a safe method to record the payments that you have received for transporting the Load, account details, beneficiary name and record of the transaction for your future references.<br>

<h2>Payment Guidelines For Truck Providers:</h2>

The guidelines provided below are non-negotiable and shall be deemed to have been accepted, wherein the Truck Provider is providing its services on TrukApp.

1.Truck Provider is assured of the authenticity of the Shipper and its ability to pay for the delivery of the Load and understands that TrukApp neither gives any warranty nor assurance about the genuineness of the Shipper nor vouches for its credibility or the contents and the nature of the Load.<br>
2.The Fare to be arrived at by and between the Truck Provider and the Shipper mutually on TrukApp and that TrukApp has no actual/perceived control or influence over the Shipper.<br>
3.In respect of any dispute arising out of the transactions undertaken between the Shipper and the Truck Provider, TrukApp has no responsibility or liability.<br>
4.It is the sole responsibility of the Truck Provider to ensure the Fare so paid by the Shipper constitutes the payment in full for provisioning of services and TrukApp shall not be liable at any time, for reimbursing or paying any out-of-pocket expenses for or on behalf of the Shipper.<br>
5.It is the sole responsibility of Truck Providers to verify, check and cross check documents and other bona-fides of the Shipper and the Load before accepting the Load and/or Fare.<br>
6.TrukApp is not liable for any fraudulent transactions, misrepresentation or suppression of facts by the Shipper. The role of TrukApp is limited to providing a platform where Truck Providers interact and engage with Shippers.<br>
7.By agreeing to receive payments for the transportation of the Load using TrukApp Payments, the Truck Provider understands that TrukApp Payments is only to enable the Truck Provider to accept/ receive peer-to-peer payments, but the responsibility to negotiate and carry out checks lies solely with the Truck Provider.<br>
8.In the event of any sale of service by service provider is subject to any goods and services tax, responsibility for the collection and remittance of that tax for such sales will be determined in accordance with applicability of respective law as per Exhibit A. For the sake of clarity, TrukApp shall not be responsible for the collection and remittance of taxes. Service provider shall indemnify and hold TrukApp harmless against any and all claims by any tax authority for any underpayment of any goods and service tax as applicable and any penalties and/or interest thereon.<br>

    Exhibit A<br>

In case if answer to above mentioned question are affirmative, Good & Service tax will not be applicable on sale of Service and TrukApp will not be responsible for collecting and remitting any Goods and Service tax on sale of service on behalf of service provider:<br>

Taxable Turnover of Service Provider is < 20 Lakhs<br>

If Service provider is registered as GTA - It has not obtained GST registration and taxable turnover is < 20 Lakhs<br>


<h3>Frequently Asked Questions - Truck Providers:</h3>

<h2>Suggestions on When and How to make the payment?</h2>

It is recommended that the payment to be received for transporting the Load can be split into two parts, wherein one part is to be received at the time of accepting the handover of the Load from the Shipper and the remaining part of the payment should be received at the time of unloading the Load or only after the Load has been delivered/handed over to the point of contact at the unloading point, as the case may be.<br>

There is no fixed ratio in which the payment is to be split. The parties have liberty to decide the terms and conditions mutually, factoring in their convenience.<br>

<h2>What are some of the relevant documents that the Truck Provider should provide the Shipper with, before accepting the handover of the Load from the Shipper, in order to enable the Shipper to verify the bona-fides of the Truck Provider?</h2>

<p>It is strongly recommended that as a matter of good industry practice, you should provide the following to the Shipper:</p>

>> Registration certificate of the vehicle.<br>
>> Aadhar card and other photo ID proofs of the Truck Provider.
>> Insurance of the vehicle.<br>
>> Permits of the vehicle.<br>
>> Fitness certificate of the vehicle.<br>
>> Any other document that you believe would enable you to demonstrate your authenticity and genuineness and convince the Shipper of your ability to deliver the Load.<br>

In addition to providing the documents mentioned above, at the point of loading, the Truck Provider should provide a loading slip to the Shipper along with a weight slip for the Load concerned. For the avoidance of doubt, it is hereby clarified that the documents as listed above are not exhaustive and may differ from industry to industry.<br>

<h2> At the time of loading, what are the  documents that the Truck Provider should deliberate upon receiving from the Shipper at the point of loading?</h2>

<p>It is recommended that you shall insist on receiving the following from the Shipper:</p>

>> Lorry Receipt, commonly known as bilti that should mention details extracted from material invoice and weight slip.<br>
>> Material Invoice pertaining to the Load being transported.<br>
>> Any specific and/or general instructions in writing about how, when the Load is to be transported, loaded and unloaded.<br>
>> Any other document that you believe is required for transporting the Load and which you might be asked/called upon to produce by the concerned authorities, in respect of the Load.<br>

At the time of loading, you should crosscheck and ensure that the Load only contains those materials, goods, contents and in that exact quantity that is mentioned in the material invoice and other documents and that there exists no discrepancy between the details existing in different documents, to minimise/eliminate the possibility of a dispute later on. <br>

If after receiving the documents, you have a reason to believe there exists some discrepancy in the details, particulars in the documents furnished by the Shipper and/or you are not assured about the Shipper’s willingness or ability to pay for the transportation of the Load, then you may decide to refuse to accept the handover of the Load.<br>

<h2> At the time of unloading, what are the things to do and things to lookout for, before accepting the remaining payment from the Shipper?</h2>

>> Check whether the vehicle has reached the correct point of unloading as per the details mentioned in the bilti/lorry receipt.<br>
>> Check whether the Load being unloaded matches the description in the bilti/lorry receipt and other documents.<br>
>> Check for any physical damage to the Load.<br>
>> Ensure that the payment of Fare in full has been made by the Shipper, unless otherwise agreed by and between the Shipper and the Truck Provider.<br>
>> Before leaving the point of unloading, ensure that you have a proof of delivery, duly signed by the authorised person at the point of unloading, wherein such proof should mention all material particulars, including but not limited to date and time of unloading and any reference to the condition in which the Load has been delivered in.<br>

<h2>What is the ideal way to receive the payment from the Shipper?</h2>

The ideal way to receive the payment is to use TrukApp Payments which is available on the TrukApp platform. TrukApp payments is a safe method to record the payments that you have received for transporting the Load, account details, beneficiary name and record of the transaction for your future references.<br>

<p>Return, Refund, Referral & Cancellation Terms:</p>

Return Terms:<br>
Due to the service providing nature of the marketplace instead of product sales, Returns are not applicable and they can’t be entertained.<br>

Refund Terms:<br>
Please note that refunds will only be initiated for failed transactions that can happen due to uncontrolled reasons or mutually decided cancellation between the truck providers and the shippers (load providers).

Referral Terms:<br>
If the user/shipper has made online payment/TrukApp Assured payment via TrukApp Platform and cancels order before the truck provider shows up. The refund will be made to the user/shipper within 3-5 business days after all the necessary charges are deducted, if applicable.<br>

Cancellation Terms:<br>
Please note that cancellation can happen due to controlled or uncontrolled circumstances. <br>
users/shippers can cancel orders when a truck provider fails to show up for the promised services or If the truck provider is taking too much time to show up. In such case, upon receiving complaint/feedback from the shipper the respective truck provider will be warned and necessary penalty will be levied (i.e. Cancellation fees, Blacklisting from platform etc.) after thorough investigation by the TrukApp team.<br>

If there disagreement about a deal or pricing has been there between truck providers and shippers. Such cases should be mutually resolved by either parties amongst themselves. TrukApp is not liable to such disagreements or disputes.<br>

If the user/shipper has made online payment/TrukApp Assured payment via TrukApp Platform and cancels order before the truck provider shows up. Then a penalty of 10% of the total accepted fare i.e. payment made (upto a maximum of 1000 INR) will be withheld as cancellation charges and rest will be refunded to the user/shipper within 3-5 business days.<br>

Once the payment is done by the user and processed by TrukApp to the beneficiary, then the platform can’t entertain any cancellation request. Cancellation can only be processed if both parties mutually agree on cancellation and reach out to TrukApp support with valid evidence/documentation (applicable only in case of Online payment Transactions i.e. TrukApp Assured).<br>


  </div>

  <div class="container">
    <div class="rectangle">
      <div align="center" style="margin-top: 10%; margin-left: -2rem;">
        <img src="assets/trucklogo.jpeg" style="border-radius: 30px;">
      </div>
      <div style="color: white; margin-left: 7rem;">
      <h6>Terms and Conditions</h6>
      <h6>Payment Guidelines and T&C</h6>
      <h6>Frequently asked questions</h6>
      <h6>Privacy Policy</h6></div>
    </div>

  </div>
</ion-content>
